In [1]:
import pandas as pd
import numpy as np
import requests as req
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time
from IPython.display import Image

In [2]:
path= ChromeDriverManager().install()
driver= webdriver.Chrome(path)

C:\Users\USER\AppData\Local\Temp\ipykernel_14076\1621371287.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(path)

In [3]:
url='https://www.imdb.com/list/ls044134118/'
driver.get(url)

In [4]:
nombres=[]
urls=[]
fotos=[]

for i in range(3):
    paginas= driver.find_elements('xpath', '//h3[@class="lister-item-header"]/a')
    for nombre in paginas:
        nombres.append(nombre.text)
        
    direcciones= driver.find_elements('xpath', '//h3[@class="lister-item-header"]/a')
    for direccion in direcciones:
        urls.append(direccion.get_attribute('href'))
        
    imagenes= driver.find_elements('xpath', '//*[@id="main"]/div/div[2]//div[1]//a/img')
    for imagen in imagenes:
        fotos.append(imagen.get_attribute('src'))
    
    try:
        driver.find_element('xpath', '//a[@class="flat-button lister-page-next next-page"]').click()
        time.sleep(7)
    except:
        break

In [5]:
len(nombres)

221

In [6]:
len(urls)

221

In [7]:
len(fotos)

221

In [8]:
columnas= ['actores', 'urls', 'fotos']
links=pd.DataFrame(list(zip(nombres, urls, fotos)), columns=columnas)
links.head()

,actores,urls,fotos
0,Manuel Zarzo,https://www.imdb.com/name/nm0953400?ref_=nmls_hd,https://m.media-amazon.com/images/M/MV5BM2UxMj...
1,Alex O'Dogherty,https://www.imdb.com/name/nm0640689?ref_=nmls_hd,https://m.media-amazon.com/images/M/MV5BMGE4Y2...
2,Antonio Dechent,https://www.imdb.com/name/nm0213766?ref_=nmls_hd,https://m.media-amazon.com/images/M/MV5BYzZjYm...
3,Javier Cámara,https://www.imdb.com/name/nm0194572?ref_=nmls_hd,https://m.media-amazon.com/images/M/MV5BMTI4Nz...
4,Jose Coronado,https://www.imdb.com/name/nm0180580?ref_=nmls_hd,https://m.media-amazon.com/images/M/MV5BMTk1NT...

In [9]:
links.to_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\links_actores.csv')

In [10]:
#mismo for que arriba pero en list compreshion

#for i in range(4):
    #paginas= driver.find_elements('xpath', '//h3[@class="lister-item-header"]/a')
    
    #nombres=[nombre.text for nombre in paginas]
        
    #urls=[url.get_attribute('href') for url in driver.find_elements('xpath', '//h3[@class="lister-item-header"]/a')]
        
    #fotos= [imagen.get_attribute('src') for imagen in driver.find_elements('xpath', '//*[@id="main"]/div/div[2]//div[1]//a/img')]
    
    #try:
        #driver.find_element('xpath', '//a[@class="flat-button lister-page-next next-page"]').click()
        #time.sleep(7)
    #except:
        #break

In [11]:
urls2=[]
actores=[]
premios=[]
generos1=[]
generos2=[]

for url in urls:
    driver.get(url)
    urls2.append(url)
    
    nombres= driver.find_element('xpath', '//h1[@data-testid="hero__pageTitle"]/span[1]').text
    actores.append(nombres)
    
    try:
        nominaciones= driver.find_element('xpath', '//li[@data-testid="award_information"]/div').text
    except:
        nominaciones=''
    premios.append(nominaciones)
    
    driver.find_element('xpath', '//button[@data-testid="hero-subnav-bar-all-topics-button"]').click()
    time.sleep(3)
    driver.find_element('xpath', '//a[text()="por género"]').click()
    time.sleep(3)
    
    try:
        cat1= driver.find_element('xpath', '//div[@class="faceter-fieldset genres"]/fieldset/span[1]').text
    except:
        cat1=''
        
    try:
        cat2= driver.find_element('xpath', '//div[@class="faceter-fieldset genres"]/fieldset/span[2]').text
    except:
        cat2=''
    generos1.append(cat1)   
    generos2.append(cat2)

In [12]:
len(urls2)

221

In [13]:
len(actores)

221

In [14]:
columnas= ['actores', 'premios', 'generos1', 'generos2', 'urls']
generosactores= pd.DataFrame(list(zip(actores,premios,generos1,generos2,urls2)), columns=columnas)
generosactores.head(10)

,actores,premios,generos1,generos2,urls
0,Manuel Zarzo,3 premios,Drama (216),Comedy (160),https://www.imdb.com/name/nm0953400?ref_=nmls_hd
1,Alex O'Dogherty,1 premio y 1 nominación,Comedy (794),Drama (97),https://www.imdb.com/name/nm0640689?ref_=nmls_hd
2,Antonio Dechent,11 premios y 3 nominaciones,Drama (209),Comedy (139),https://www.imdb.com/name/nm0213766?ref_=nmls_hd
3,Javier Cámara,37 premios y 52 nominaciones,Comedy (272),Drama (123),https://www.imdb.com/name/nm0194572?ref_=nmls_hd
4,Jose Coronado,17 premios y 15 nominaciones,Drama (632),Thriller (556),https://www.imdb.com/name/nm0180580?ref_=nmls_hd
5,Roberto Álamo,9 premios y 7 nominaciones,Drama (112),Comedy (91),https://www.imdb.com/name/nm0959304?ref_=nmls_hd
6,Carlos Areces,2 premios y 3 nominaciones,Comedy (341),Animation (88),https://www.imdb.com/name/nm1693112?ref_=nmls_hd
7,Santi Millán,2 premios y 4 nominaciones,Comedy (462),Talk-Show (240),https://www.imdb.com/name/nm0590298?ref_=nmls_hd
8,Raúl Fernández de Pablo,,Drama (399),Comedy (151),https://www.imdb.com/name/nm1721834?ref_=nmls_hd
9,Sergio Peris-Mencheta,1 premio y 3 nominaciones,Drama (342),Comedy (262),https://www.imdb.com/name/nm0673824?ref_=nmls_hd

In [15]:
generosactores.to_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\CSV\actoresgenero.csv', index=False)

In [19]:
tabla1=pd.read_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\CSV\actores.csv')

In [20]:
tabla1.head()

,Position,Const,Created,Modified,Description,Name,Known For,Birth Date
0,1,nm0953400,2019-05-09,2019-05-09,NaN,Manuel Zarzo,The Adventures of Baron Munchausen,1932-04-26
1,2,nm0640689,2019-05-23,2019-05-23,NaN,Alex O'Dogherty,Camera café,1973-03-07
2,3,nm0213766,2019-05-23,2019-05-23,NaN,Antonio Dechent,Intacto,1960-02-16
3,4,nm0194572,2019-06-01,2019-06-01,NaN,Javier Cámara,Hable con ella,1967-01-19
4,5,nm0180580,2019-06-01,2019-06-01,NaN,Jose Coronado,El cuerpo,1957-08-14

In [21]:
tabla2= tabla1.rename(columns= {'Name': 'actores'})

In [22]:
tabla2

,Position,Const,Created,Modified,Description,actores,Known For,Birth Date
0,1,nm0953400,2019-05-09,2019-05-09,NaN,Manuel Zarzo,The Adventures of Baron Munchausen,1932-04-26
1,2,nm0640689,2019-05-23,2019-05-23,NaN,Alex O'Dogherty,Camera café,1973-03-07
2,3,nm0213766,2019-05-23,2019-05-23,NaN,Antonio Dechent,Intacto,1960-02-16
3,4,nm0194572,2019-06-01,2019-06-01,NaN,Javier Cámara,Hable con ella,1967-01-19
4,5,nm0180580,2019-06-01,2019-06-01,NaN,Jose Coronado,El cuerpo,1957-08-14
...,...,...,...,...,...,...,...,...
216,217,nm0614020,2022-11-18,2022-11-18,NaN,Venancio Muro,El marino de los puños de oro,1928-07-28
217,218,nm1324778,2022-11-20,2022-11-20,NaN,Ricardo Arroyo,Hospital Central,NaN
218,219,nm1687275,2022-11-20,2022-11-20,NaN,Pablo Chiapella,Fuera de serie,1976-12-01
219,220,nm2571452,2022-11-20,2022-11-20,NaN,Álex Gadea,El secreto de Puente Viejo,1983-07-22
220,221,nm0635330,2022-11-29,2022-11-29,NaN,Eduardo Noriega,Vantage Point,1973-08-01

In [23]:
tabla2.to_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\CSV\actores.csv', index=False)