In [1]:
import pandas as pd
import numpy as np
import time
import datetime
from datetime import date
from functions_finalproyect import *

# DATA CLEANING ACTORES

In [55]:
datos= pd.read_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\csv_from_sql\Actores_Españoles.csv')
datos.head()

,Actores,Fecha_Nacimiento,Premios,Genero_1,Genero_2,Foto
0,Manuel Zarzo,1932-04-26,3 premios,Drama (216),Comedy (160),https://m.media-amazon.com/images/M/MV5BM2UxMj...
1,Alex O'Dogherty,1973-03-07,1 premio y 1 nominación,Comedy (794),Drama (97),https://m.media-amazon.com/images/M/MV5BMGE4Y2...
2,Antonio Dechent,1960-02-16,11 premios y 3 nominaciones,Drama (209),Comedy (139),https://m.media-amazon.com/images/M/MV5BYzZjYm...
3,Javier Cámara,1967-01-19,37 premios y 52 nominaciones,Comedy (272),Drama (123),https://m.media-amazon.com/images/M/MV5BMTI4Nz...
4,Jose Coronado,1957-08-14,17 premios y 15 nominaciones,Drama (632),Thriller (556),https://m.media-amazon.com/images/M/MV5BMTk1NT...

In [56]:
actores= datos.copy()
actores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221 entries, 0 to 220
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Actores           221 non-null    object
 1   Fecha_Nacimiento  180 non-null    object
 2   Premios           144 non-null    object
 3   Genero_1          221 non-null    object
 4   Genero_2          221 non-null    object
 5   Foto              221 non-null    object
dtypes: object(6)
memory usage: 10.5+ KB

In [57]:
#Comenzamos pasando la columna Fecha_Nacimiento a type fecha para trabajar con ella y pedimos solo el año.

In [58]:
actores['Fecha_Nacimiento']= actores.Fecha_Nacimiento.astype('datetime64').dt.year

In [59]:
actores.head()

,Actores,Fecha_Nacimiento,Premios,Genero_1,Genero_2,Foto
0,Manuel Zarzo,1932.0,3 premios,Drama (216),Comedy (160),https://m.media-amazon.com/images/M/MV5BM2UxMj...
1,Alex O'Dogherty,1973.0,1 premio y 1 nominación,Comedy (794),Drama (97),https://m.media-amazon.com/images/M/MV5BMGE4Y2...
2,Antonio Dechent,1960.0,11 premios y 3 nominaciones,Drama (209),Comedy (139),https://m.media-amazon.com/images/M/MV5BYzZjYm...
3,Javier Cámara,1967.0,37 premios y 52 nominaciones,Comedy (272),Drama (123),https://m.media-amazon.com/images/M/MV5BMTI4Nz...
4,Jose Coronado,1957.0,17 premios y 15 nominaciones,Drama (632),Thriller (556),https://m.media-amazon.com/images/M/MV5BMTk1NT...

In [60]:
#Relleno manualmente datos vacíos indicando por fila

In [61]:
actores.at[5, 'Fecha_Nacimiento']= 1970
actores.at[14, 'Fecha_Nacimiento']= 1964
actores.at[12, 'Fecha_Nacimiento']= 1978
actores.at[26, 'Fecha_Nacimiento']= 1978
actores.at[31, 'Fecha_Nacimiento']= 1981
actores.at[43, 'Fecha_Nacimiento']= 1967
actores.at[55, 'Fecha_Nacimiento']= 1992
actores.at[67, 'Fecha_Nacimiento']= 1933
actores.at[70, 'Fecha_Nacimiento']= 1999
actores.at[76, 'Fecha_Nacimiento']= 1966
actores.at[77, 'Fecha_Nacimiento']= 1971
actores.at[81, 'Fecha_Nacimiento']= 1898
actores.at[88, 'Fecha_Nacimiento']= 1970
actores.at[91, 'Fecha_Nacimiento']= 1979
actores.at[102, 'Fecha_Nacimiento']= 1963
actores.at[109, 'Fecha_Nacimiento']= 1980
actores.at[117, 'Fecha_Nacimiento']= 1960
actores.at[121, 'Fecha_Nacimiento']= 1960
actores.at[123, 'Fecha_Nacimiento']= 1978
actores.at[124, 'Fecha_Nacimiento']= 1949
actores.at[126, 'Fecha_Nacimiento']= 1961
actores.at[127, 'Fecha_Nacimiento']= 1977
actores.at[132, 'Fecha_Nacimiento']= 1969
actores.at[139, 'Fecha_Nacimiento']= 1929
actores.at[157, 'Fecha_Nacimiento']= 1925
actores.at[159, 'Fecha_Nacimiento']= 1923
actores.at[173, 'Fecha_Nacimiento']= 1960
actores.at[174, 'Fecha_Nacimiento']= 1987
actores.at[176, 'Fecha_Nacimiento']= 1950
actores.at[178, 'Fecha_Nacimiento']= 1963
actores.at[179, 'Fecha_Nacimiento']= 1962
actores.at[180, 'Fecha_Nacimiento']= 1965
actores.at[181, 'Fecha_Nacimiento']= 1920
actores.at[187, 'Fecha_Nacimiento']= 1997
actores.at[194, 'Fecha_Nacimiento']= 1984
actores.at[195, 'Fecha_Nacimiento']= 1955
actores.at[198, 'Fecha_Nacimiento']= 1975
actores.at[204, 'Fecha_Nacimiento']= 1972
actores.at[205, 'Fecha_Nacimiento']= 1910
actores.at[206, 'Fecha_Nacimiento']= 1957
actores.at[217, 'Fecha_Nacimiento']= 1950

In [62]:
#Agrupo en intervalos los años

Rango_Edad= []

for fecha in actores.Fecha_Nacimiento:
    if fecha >= 1997:
        Rango_Edad.append('Joven')
    elif fecha <= 1998 and fecha >= 1982:
        Rango_Edad.append('Adulto Joven')
    elif fecha <= 1983 and fecha >= 1963:
        Rango_Edad.append('Adulto medio')
    elif fecha <= 1964:
        Rango_Edad.append('Adulto maduro')

In [63]:
#Genero nueva columna con resultados
actores['Rango_Edad']= Rango_Edad
actores.head()

,Actores,Fecha_Nacimiento,Premios,Genero_1,Genero_2,Foto,Rango_Edad
0,Manuel Zarzo,1932.0,3 premios,Drama (216),Comedy (160),https://m.media-amazon.com/images/M/MV5BM2UxMj...,Adulto maduro
1,Alex O'Dogherty,1973.0,1 premio y 1 nominación,Comedy (794),Drama (97),https://m.media-amazon.com/images/M/MV5BMGE4Y2...,Adulto medio
2,Antonio Dechent,1960.0,11 premios y 3 nominaciones,Drama (209),Comedy (139),https://m.media-amazon.com/images/M/MV5BYzZjYm...,Adulto maduro
3,Javier Cámara,1967.0,37 premios y 52 nominaciones,Comedy (272),Drama (123),https://m.media-amazon.com/images/M/MV5BMTI4Nz...,Adulto medio
4,Jose Coronado,1957.0,17 premios y 15 nominaciones,Drama (632),Thriller (556),https://m.media-amazon.com/images/M/MV5BMTk1NT...,Adulto maduro

In [64]:
actores.shape

(221, 7)

In [65]:
#Borro filas cuyo año de nacimiento sea inferior a 1947
actores= actores.drop(actores[actores.Fecha_Nacimiento < 1947].index).reset_index(drop=True)
actores.shape

(148, 7)

In [66]:
#borro columna Fecha_Nacimiento
actores.drop('Fecha_Nacimiento', inplace=True, axis=1)

In [67]:
#Divido columna Genero_1 y Genero_2 en tantas columna como generos contiene. Mantengo el num de apariciones.
actores.Genero_2.unique()

array(['Drama (97)', 'Comedy (139)', 'Drama (123)', 'Thriller (556)',
       'Comedy (91)', 'Animation (88)', 'Talk-Show (240)', 'Comedy (151)',
       'Comedy (262)', 'News (216)', 'Thriller (430)', 'Adventure (89)',
       'Drama (434)', 'Comedy (231)', 'Talk-Show (60)', 'Drama (47)',
       'Music (90)', 'Music (56)', 'Drama (157)', 'Romance (449)',
       'Thriller (366)', 'Talk-Show (81)', 'Thriller (115)',
       'Animation (95)', 'Talk-Show (193)', 'Talk-Show (40)',
       'Talk-Show (41)', 'Talk-Show (201)', 'Romance (170)', 'Drama (86)',
       'Thriller (210)', 'Adventure (238)', 'Thriller (31)',
       'Thriller (83)', 'Thriller (642)', 'Adventure (143)',
       'Romance (431)', 'Adventure (98)', 'Drama (96)', 'Comedy (338)',
       'Adventure (69)', 'Adventure (65)', 'Action (47)', 'Drama (45)',
       'Drama (109)', 'Comedy (68)', 'Family (284)', 'Romance (162)',
       'Drama (24)', 'Romance (24)', 'Comedy (178)', 'Drama (538)',
       'Romance (92)', 'Comedy (118)', 'Thriller (360)', 'Comedy (299)',
       'Drama (156)', 'Drama (29)', 'Talk-Show (66)', 'Talk-Show (87)',
       'Adventure (23)', 'Drama (95)', 'Thriller (79)',
       'Reality-Tv (122)', 'News (468)', 'Game-Show (65)',
       'Adventure (30)', 'Drama (177)', 'Drama (55)', 'Drama (22)',
       'Music (125)', 'Thriller (327)', 'Talk-Show (112)',
       'Romance (106)', 'Talk-Show (67)', 'Drama (58)', 'Drama (229)',
       'News (247)', 'Thriller (66)', 'Drama (255)', 'Comedy (197)',
       'Talk-Show (145)', 'Talk-Show (348)', 'Thriller (72)',
       'Music (34)', 'News (855)', 'Romance (195)', 'Romance (233)',
       'Family (45)', 'Romance (344)', 'Drama (183)', 'Comedy (380)',
       'Comedy (42)', 'Drama (54)', 'Animation (13)', 'Romance (260)',
       'Romance (439)', 'Drama (232)', 'Adventure (72)', 'Family (135)',
       'Comedy (618)', 'Romance (95)', 'Drama (19)', 'Drama (31)',
       'Drama (10)', 'Romance (1.597)', 'Drama (27)', 'Comedy (84)',
       'Thriller (287)', 'Drama (158)', 'Game-Show (135)', 'Comedy (62)',
       'Drama (634)', 'Romance (272)', 'Romance (190)', 'Drama (30)',
       'Comedy (20)', 'Drama (107)', 'Comedy (45)', 'Drama (362)',
       'Thriller (164)', 'Drama (48)', 'Thriller (399)', 'Drama (316)',
       'Thriller (84)', 'Comedy (439)', 'Romance (243)', 'Romance (219)',
       'Thriller (463)', 'Romance (75)', 'Thriller (337)',
       'Thriller (331)', 'Comedy (51)', 'Comedy (78)', 'Romance (646)',
       'Comedy (159)', 'Romance (30)', 'Animation (29)', 'Thriller (192)',
       'News (85)'], dtype=object)

In [68]:
#Genero una nueva columna por cada genero que encuentre en la columna genero_1
#df.loc[df['column'] condition, 'new column name'] = 'value if condition is met'
actores.loc[actores.Genero_1.str.split('(').str[0]== 'Drama ', 'Drama']= actores.Genero_1.str.split('(').str[1]
actores.loc[actores.Genero_1.str.split('(').str[0]== 'Comedy ', 'Comedy']= actores.Genero_1.str.split('(').str[1]
actores.loc[actores.Genero_1.str.split('(').str[0]== 'Adventure ', 'Adventure']= actores.Genero_1.str.split('(').str[1]
actores.loc[actores.Genero_1.str.split('(').str[0]== 'Romance ', 'Romance']= actores.Genero_1.str.split('(').str[-1]
actores.loc[actores.Genero_1.str.split('(').str[0]== 'Talk-Show ', 'Talk-Show']= actores.Genero_1.str.split('(').str[1]
actores.loc[actores.Genero_1.str.split('(').str[0]== 'Game-Show ', 'Game-Show']=actores.Genero_1.str.split('(').str[1]

In [69]:
#dividimos la columna Genero_2
actores.loc[actores.Genero_2.str.split('(').str[0]== 'Drama ', 'Drama']= actores.Genero_2.str.split('(').str[1]
actores.loc[actores.Genero_2.str.split('(').str[0]== 'Comedy ', 'Comedy']= actores.Genero_2.str.split('(').str[1]
actores.loc[actores.Genero_2.str.split('(').str[0]== 'Adventure ', 'Adventure']= actores.Genero_2.str.split('(').str[1]
actores.loc[actores.Genero_2.str.split('(').str[0]== 'Romance ', 'Romance']= actores.Genero_2.str.split('(').str[-1]
actores.loc[actores.Genero_2.str.split('(').str[0]== 'Talk-Show ', 'Talk-Show']= actores.Genero_2.str.split('(').str[1]
actores.loc[actores.Genero_2.str.split('(').str[0]== 'Game-Show ', 'Game-Show']=actores.Genero_2.str.split('(').str[1]
actores.loc[actores.Genero_2.str.split('(').str[0]== 'Thriller ', 'Thriller']=actores.Genero_2.str.split('(').str[1]
actores.loc[actores.Genero_2.str.split('(').str[0]== 'Animation ', 'Animation']=actores.Genero_2.str.split('(').str[1]
actores.loc[actores.Genero_2.str.split('(').str[0]== 'News ', 'News']=actores.Genero_2.str.split('(').str[1]
actores.loc[actores.Genero_2.str.split('(').str[0]== 'Music ', 'Music']=actores.Genero_2.str.split('(').str[1]
actores.loc[actores.Genero_2.str.split('(').str[0]== 'Action ', 'Action']=actores.Genero_2.str.split('(').str[1]
actores.loc[actores.Genero_2.str.split('(').str[0]== 'Family ', 'Family']=actores.Genero_2.str.split('(').str[1]
actores.loc[actores.Genero_2.str.split('(').str[0]== 'Reality-tv ', 'Reality-tv']=actores.Genero_2.str.split('(').str[1]

actores.head()

,Actores,Premios,Genero_1,Genero_2,Foto,Rango_Edad,Drama,Comedy,Adventure,Romance,Talk-Show,Game-Show,Thriller,Animation,News,Music,Action,Family,Reality-tv
0,Alex O'Dogherty,1 premio y 1 nominación,Comedy (794),Drama (97),https://m.media-amazon.com/images/M/MV5BMGE4Y2...,Adulto medio,97),794),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Antonio Dechent,11 premios y 3 nominaciones,Drama (209),Comedy (139),https://m.media-amazon.com/images/M/MV5BYzZjYm...,Adulto maduro,209),139),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Javier Cámara,37 premios y 52 nominaciones,Comedy (272),Drama (123),https://m.media-amazon.com/images/M/MV5BMTI4Nz...,Adulto medio,123),272),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jose Coronado,17 premios y 15 nominaciones,Drama (632),Thriller (556),https://m.media-amazon.com/images/M/MV5BMTk1NT...,Adulto maduro,632),NaN,NaN,NaN,NaN,NaN,556),NaN,NaN,NaN,NaN,NaN,NaN
4,Roberto Álamo,9 premios y 7 nominaciones,Drama (112),Comedy (91),https://m.media-amazon.com/images/M/MV5BNmFhNW...,Adulto medio,112),91),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
#quito el paréntesis que sobra de todas las columnas
actores['Drama']= actores['Drama'].str.rstrip(')')
actores['Adventure']= actores['Adventure'].str.rstrip(')')
actores['Romance']= actores['Romance'].str.rstrip(')')
actores['Talk-Show']= actores['Talk-Show'].str.rstrip(')')
actores['Game-Show']= actores['Game-Show'].str.rstrip(')')
actores['Thriller']= actores['Thriller'].str.rstrip(')')
actores['Animation']= actores['Animation'].str.rstrip(')')
actores['News']= actores['News'].str.rstrip(')')
actores['Music']= actores['Music'].str.rstrip(')')
actores['Action']= actores['Action'].str.rstrip(')')
actores['Family']= actores['Family'].str.rstrip(')')
actores['Reality-tv']= actores['Reality-tv'].str.rstrip(')')
actores['Comedy']= actores['Comedy'].str.rstrip(')')

In [71]:
#borramos las dos columnas originales de género
actores= actores.drop(['Genero_1', 'Genero_2'], axis=1) 
actores.head()

,Actores,Premios,Foto,Rango_Edad,Drama,Comedy,Adventure,Romance,Talk-Show,Game-Show,Thriller,Animation,News,Music,Action,Family,Reality-tv
0,Alex O'Dogherty,1 premio y 1 nominación,https://m.media-amazon.com/images/M/MV5BMGE4Y2...,Adulto medio,97,794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Antonio Dechent,11 premios y 3 nominaciones,https://m.media-amazon.com/images/M/MV5BYzZjYm...,Adulto maduro,209,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Javier Cámara,37 premios y 52 nominaciones,https://m.media-amazon.com/images/M/MV5BMTI4Nz...,Adulto medio,123,272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jose Coronado,17 premios y 15 nominaciones,https://m.media-amazon.com/images/M/MV5BMTk1NT...,Adulto maduro,632,NaN,NaN,NaN,NaN,NaN,556,NaN,NaN,NaN,NaN,NaN,NaN
4,Roberto Álamo,9 premios y 7 nominaciones,https://m.media-amazon.com/images/M/MV5BNmFhNW...,Adulto medio,112,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
#Rellenamos NAN con ceros----> df[['points', 'assists']] = df[['points', 'assists']].fillna(value=0)
actores[['Drama', 'Comedy','Adventure', 'Romance', 'Talk-Show', 'Game-Show', 'Thriller', 'Animation', 'News', 'Music', 'Action', 'Family', 'Reality-tv']]= actores[['Drama', 'Comedy','Adventure', 'Romance', 'Talk-Show', 'Game-Show', 'Thriller', 'Animation', 'News', 'Music', 'Action', 'Family', 'Reality-tv']].fillna(value=0)

In [73]:
#Divido datos de Premios_temp en dos columnas nuevas
actores[['Premios','Nominaciones']]=actores.Premios.str.extract(r'(.*)[y]+(.*)', expand=True)
actores.head()

,Actores,Premios,Foto,Rango_Edad,Drama,Comedy,Adventure,Romance,Talk-Show,Game-Show,Thriller,Animation,News,Music,Action,Family,Reality-tv,Nominaciones
0,Alex O'Dogherty,1 premio,https://m.media-amazon.com/images/M/MV5BMGE4Y2...,Adulto medio,97,794,0,0,0,0,0,0,0,0,0,0,0,1 nominación
1,Antonio Dechent,11 premios,https://m.media-amazon.com/images/M/MV5BYzZjYm...,Adulto maduro,209,139,0,0,0,0,0,0,0,0,0,0,0,3 nominaciones
2,Javier Cámara,37 premios,https://m.media-amazon.com/images/M/MV5BMTI4Nz...,Adulto medio,123,272,0,0,0,0,0,0,0,0,0,0,0,52 nominaciones
3,Jose Coronado,17 premios,https://m.media-amazon.com/images/M/MV5BMTk1NT...,Adulto maduro,632,0,0,0,0,0,556,0,0,0,0,0,0,15 nominaciones
4,Roberto Álamo,9 premios,https://m.media-amazon.com/images/M/MV5BNmFhNW...,Adulto medio,112,91,0,0,0,0,0,0,0,0,0,0,0,7 nominaciones

In [75]:
#Borro con split la palabra premio(separo por espacio y selecciono posición)
actores['Premios']= actores['Premios'].str.split(' ').str[0]

In [76]:
#Borro con split la palabra nominaciones(separo por espacio y selecciono posición)
actores['Nominaciones']= actores['Nominaciones'].str.split(' ').str[1]
actores.head()

,Actores,Premios,Foto,Rango_Edad,Drama,Comedy,Adventure,Romance,Talk-Show,Game-Show,Thriller,Animation,News,Music,Action,Family,Reality-tv,Nominaciones
0,Alex O'Dogherty,1,https://m.media-amazon.com/images/M/MV5BMGE4Y2...,Adulto medio,97,794,0,0,0,0,0,0,0,0,0,0,0,1
1,Antonio Dechent,11,https://m.media-amazon.com/images/M/MV5BYzZjYm...,Adulto maduro,209,139,0,0,0,0,0,0,0,0,0,0,0,3
2,Javier Cámara,37,https://m.media-amazon.com/images/M/MV5BMTI4Nz...,Adulto medio,123,272,0,0,0,0,0,0,0,0,0,0,0,52
3,Jose Coronado,17,https://m.media-amazon.com/images/M/MV5BMTk1NT...,Adulto maduro,632,0,0,0,0,0,556,0,0,0,0,0,0,15
4,Roberto Álamo,9,https://m.media-amazon.com/images/M/MV5BNmFhNW...,Adulto medio,112,91,0,0,0,0,0,0,0,0,0,0,0,7

In [77]:
actores[['Premios', 'Nominaciones']]= actores[['Premios', 'Nominaciones']].fillna(value=0)
actores.head()

,Actores,Premios,Foto,Rango_Edad,Drama,Comedy,Adventure,Romance,Talk-Show,Game-Show,Thriller,Animation,News,Music,Action,Family,Reality-tv,Nominaciones
0,Alex O'Dogherty,1,https://m.media-amazon.com/images/M/MV5BMGE4Y2...,Adulto medio,97,794,0,0,0,0,0,0,0,0,0,0,0,1
1,Antonio Dechent,11,https://m.media-amazon.com/images/M/MV5BYzZjYm...,Adulto maduro,209,139,0,0,0,0,0,0,0,0,0,0,0,3
2,Javier Cámara,37,https://m.media-amazon.com/images/M/MV5BMTI4Nz...,Adulto medio,123,272,0,0,0,0,0,0,0,0,0,0,0,52
3,Jose Coronado,17,https://m.media-amazon.com/images/M/MV5BMTk1NT...,Adulto maduro,632,0,0,0,0,0,556,0,0,0,0,0,0,15
4,Roberto Álamo,9,https://m.media-amazon.com/images/M/MV5BNmFhNW...,Adulto medio,112,91,0,0,0,0,0,0,0,0,0,0,0,7

In [78]:
#reordeno columnas
neworder = ['Actores','Premios','Nominaciones','Rango_Edad','Drama', 'Comedy', 'Adventure', 'Romance', 'Talk-Show', 'Game-Show', 'Thriller', 'Animation', 'News', 'Music', 'Action', 'Family', 'Reality-tv', 'Foto']
actores=actores.reindex(columns=neworder)

In [79]:
#cambio las columnas a float para en la visualizción poder hacer un contador
actores['Drama']= actores.Drama.astype(float)
actores['Comedy']= actores.Comedy.astype(float)
actores['Adventure']= actores.Adventure.astype(float)
actores['Romance']= actores.Romance.astype(float)
actores['Talk-Show']= actores['Talk-Show'].astype(float)
actores['Game-Show']= actores['Game-Show'].astype(float)
actores['Thriller']= actores.Thriller.astype(float)
actores['Animation']= actores.Animation.astype(float)
actores['News']= actores.News.astype(float)
actores['Music']= actores.Music.astype(float)
actores['Action']= actores.Action.astype(float)
actores['Family']= actores.Family.astype(float)
actores['Reality-tv']= actores['Reality-tv'].astype(float)
actores['Premios']= actores.Premios.astype(float)
actores['Nominaciones']= actores.Nominaciones.astype(float)

In [80]:
actores.head()

,Actores,Premios,Nominaciones,Rango_Edad,Drama,Comedy,Adventure,Romance,Talk-Show,Game-Show,Thriller,Animation,News,Music,Action,Family,Reality-tv,Foto
0,Alex O'Dogherty,1.0,1.0,Adulto medio,97.0,794.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,https://m.media-amazon.com/images/M/MV5BMGE4Y2...
1,Antonio Dechent,11.0,3.0,Adulto maduro,209.0,139.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,https://m.media-amazon.com/images/M/MV5BYzZjYm...
2,Javier Cámara,37.0,52.0,Adulto medio,123.0,272.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,https://m.media-amazon.com/images/M/MV5BMTI4Nz...
3,Jose Coronado,17.0,15.0,Adulto maduro,632.0,0.0,0.0,0.0,0.0,0.0,556.0,0.0,0.0,0.0,0.0,0.0,0.0,https://m.media-amazon.com/images/M/MV5BMTk1NT...
4,Roberto Álamo,9.0,7.0,Adulto medio,112.0,91.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,https://m.media-amazon.com/images/M/MV5BNmFhNW...

In [81]:
actores.to_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\Actores_listado.csv', index=False)

# DATA CLEANING CSV DIRECTORES

In [9]:
datos= pd.read_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\csv_from_sql\Directores_Españoles.csv')
directores= datos.copy()

In [10]:
directores['Fecha_Nacimiento']= directores.Fecha_Nacimiento.astype('datetime64').dt.year

In [11]:
directores.at[18, 'Fecha_Nacimiento']= 1979
directores.at[19, 'Fecha_Nacimiento']= 1967
directores.at[20, 'Fecha_Nacimiento']= 1977
directores.at[25, 'Fecha_Nacimiento']= 1945
directores.at[26, 'Fecha_Nacimiento']= 1960
directores.at[27, 'Fecha_Nacimiento']= 1975
directores.at[32, 'Fecha_Nacimiento']= 1964
directores.at[33, 'Fecha_Nacimiento']= 1953
directores.at[35, 'Fecha_Nacimiento']= 1963
directores.at[38, 'Fecha_Nacimiento']= 1962
directores.at[39, 'Fecha_Nacimiento']= 1968
directores.at[40, 'Fecha_Nacimiento']= 1959
directores.at[45, 'Fecha_Nacimiento']= 1975
directores.at[47, 'Fecha_Nacimiento']= 1977
directores.at[48, 'Fecha_Nacimiento']= 1973
directores.at[67, 'Fecha_Nacimiento']= 1970
directores.at[68, 'Fecha_Nacimiento']= 1968
directores.at[74, 'Fecha_Nacimiento']= 1950
directores.at[76, 'Fecha_Nacimiento']= 1964
directores.at[82, 'Fecha_Nacimiento']= 1934
directores.at[83, 'Fecha_Nacimiento']= 1952
directores.at[86, 'Fecha_Nacimiento']= 1963
directores.at[93, 'Fecha_Nacimiento']= 1955
directores.at[94, 'Fecha_Nacimiento']= 1952
directores.at[96, 'Fecha_Nacimiento']= 1961
directores.at[99, 'Fecha_Nacimiento']= 1963
directores.at[101, 'Fecha_Nacimiento']= 1967
directores.at[105, 'Fecha_Nacimiento']= 1958
directores.at[108, 'Fecha_Nacimiento']= 1959
directores.at[112, 'Fecha_Nacimiento']= 1980
directores.at[113, 'Fecha_Nacimiento']= 1983

In [12]:
directores.shape

(114, 6)

In [13]:
def edades(df, column):
    
    Rango_Edad=[]
    
    for fecha in column:
        if fecha >= 1997:
            Rango_Edad.append('Joven')
        elif fecha <= 1998 and fecha >= 1982:
            Rango_Edad.append('Adulto Joven')
        elif fecha <= 1983 and fecha >= 1963:
            Rango_Edad.append('Adulto medio')
        elif fecha <= 1964:
            Rango_Edad.append('Adulto maduro')
        
    df['Rango_Edad']= Rango_Edad
    
    df= df.drop(df[column < 1947].index).reset_index(drop=True)
    #df_new = df.drop(df[(df['col_1'] == 1.0) & (df['col_2'] == 0.0)].index)
    
    
    
    return df

In [14]:
#aplico la funcion edades
directores= edades(directores, directores.Fecha_Nacimiento)

In [15]:
directores.shape

(67, 7)

In [16]:
directores.drop('Fecha_Nacimiento', inplace=True, axis=1)

In [17]:
directores.Genero_1.unique()

array(['Comedy (74)', 'News (61)', 'News (55)', 'Thriller (25)',
       'News (54)', 'Drama (24)', 'Animation (37)', 'News (135)',
       'News (47)', 'Drama (67)', 'News (96)', 'Comedy (94)', 'News (26)',
       'News (17)', 'News (15)', 'Comedy (86)', 'News (4)', 'Drama (36)',
       'News (27)', 'Documentary (16)', 'Thriller (26)', 'Drama (133)',
       'Talk-Show (69)', 'Talk-Show (80)', 'Comedy (37)', 'Comedy (390)',
       'Comedy (17)', 'Drama (14)', 'News (43)', 'Drama (42)',
       'Thriller (64)', 'Drama (204)', 'News (63)', 'News (34)',
       'Drama (86)', 'Drama (84)', 'Drama (256)', 'Comedy (113)',
       'Comedy (33)', 'Drama (33)', 'Talk-Show (39)', 'News (29)',
       'News (38)', 'Drama (17)', 'Comedy (50)', 'Drama (51)',
       'Drama (13)', 'Music (62)', 'News (19)', 'Drama (45)',
       'Comedy (55)', 'Comedy (96)', 'Talk-Show (210)', 'Drama (18)',
       'Talk-Show (27)', 'Comedy (60)', 'Comedy (634)', 'Drama (29)',
       'Comedy (609)', 'Talk-Show (30)', 'Drama (737)', 'Short (22)',
       'Drama (19)'], dtype=object)

In [18]:
def genero(df, column, x, y):
    '''Creo una columna por cada genero que encuentra en la columna genero y borra paréntesis'''
    df.loc[column.str.split('(').str[0]== x , y ]= column.str.split('(').str[1].str.rstrip(')')
    
    return df

In [19]:
genero(directores, directores.Genero_1, 'Comedy ', 'Comedy')
genero(directores, directores.Genero_1, 'Drama ', 'Drama')
genero(directores, directores.Genero_1, 'News ','News')
genero(directores, directores.Genero_1, 'Thriller ', 'Thriller' )
genero(directores, directores.Genero_1, 'Documentary ', 'Documentary')
genero(directores, directores.Genero_1, 'Animation ', 'Animation')
genero(directores, directores.Genero_1, 'Talk-Show ', 'Talk-Show')
genero(directores, directores.Genero_1, 'Short ', 'Short')
genero(directores, directores.Genero_1, 'Music ','Music')

genero(directores, directores.Genero_2, 'Comedy ', 'Comedy')
genero(directores, directores.Genero_2, 'Drama ', 'Drama')
genero(directores, directores.Genero_2, 'News ', 'News')
genero(directores, directores.Genero_2, 'Thriller ', 'Thriller')
genero(directores, directores.Genero_2, 'Documentary ', 'Documentary')
genero(directores, directores.Genero_2, 'Animation ', 'Animation')
genero(directores, directores.Genero_2, 'Talk-Show ', 'Talk-Show')
genero(directores, directores.Genero_2, 'Short ', 'Short')
genero(directores, directores.Genero_2, 'Music ', 'Music')
genero(directores, directores.Genero_2, 'Action ','Action')  
genero(directores, directores.Genero_2, 'Fantasy ', 'Fantasy') 
genero(directores, directores.Genero_2, 'Biography ', 'Biography') 
genero(directores, directores.Genero_2, 'Family ', 'Family')

,Directores,Premios,Genero_1,Genero_2,Foto,Rango_Edad,Comedy,Drama,News,Thriller,Documentary,Animation,Talk-Show,Short,Music,Action,Fantasy,Biography,Family
0,Achero Mañas,26 premios y 7 nominaciones,Comedy (74),Drama (24),https://www.imdb.com/name/nm0563748?ref_=nmls_hd,Adulto medio,74,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alejandro Amenábar,61 premios y 56 nominaciones en total,News (61),Talk-Show (35),https://www.imdb.com/name/nm0024622?ref_=nmls_hd,Adulto medio,NaN,NaN,61,NaN,NaN,NaN,35,NaN,NaN,NaN,NaN,NaN,NaN
2,J.A. Bayona,31 premios y 28 nominaciones,News (55),Documentary (46),https://www.imdb.com/name/nm1291105?ref_=nmls_hd,Adulto medio,NaN,NaN,55,NaN,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jaume Collet-Serra,5 nominaciones,Thriller (25),Action (18),https://www.imdb.com/name/nm1429471?ref_=nmls_hd,Adulto medio,NaN,NaN,NaN,25,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN
4,Jaume Balagueró,43 premios y 15 nominaciones,News (54),Talk-Show (48),https://www.imdb.com/name/nm0049371?ref_=nmls_hd,Adulto medio,NaN,NaN,54,NaN,NaN,NaN,48,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Carlos Vermut,10 premios y 31 nominaciones,Comedy (94),Fantasy (82),https://www.imdb.com/name/nm4209430?ref_=nmls_hd,Adulto medio,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82,NaN,NaN
63,Carla Simón,35 premios y 48 nominaciones,Talk-Show (30),Drama (22),https://www.imdb.com/name/nm3427032?ref_=nmls_hd,Adulto Joven,NaN,22,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN
64,Raúl Arévalo,29 premios y 27 nominaciones,Drama (737),Thriller (642),https://www.imdb.com/name/nm1666855?ref_=nmls_hd,Adulto medio,NaN,737,NaN,642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Pilar Palomero,21 premios y 19 nominaciones,Short (22),Drama (15),https://www.imdb.com/name/nm1970178?ref_=nmls_hd,Adulto medio,NaN,15,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,NaN
66,Borja Soler,8 premios y 4 nominaciones,Drama (19),Thriller (17),https://www.imdb.com/name/nm2111339?ref_=nmls_hd,Adulto Joven,NaN,19,NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
directores= directores.drop(['Genero_1', 'Genero_2'], axis=1)

In [21]:
directores= directores.astype({'Drama': 'float64', 'Comedy':'float64', 'Talk-Show':'float64', 'Thriller':'float64', 
                               'Animation':'float64', 'News':'float64', 'Music':'float64', 'Action':'float64', 
                               'Family':'float64', 'Biography':'float64', 'Fantasy':'float64', 'Short':'float64', 
                               'Documentary':'float64'})

In [22]:
for z in directores.select_dtypes(include='float64'):
    directores[z].fillna(0, inplace=True)
    print(directores)

            Directores                                Premios  \
0         Achero Mañas            26 premios y 7 nominaciones
1   Alejandro Amenábar  61 premios y 56 nominaciones en total
2          J.A. Bayona           31 premios y 28 nominaciones
3   Jaume Collet-Serra                         5 nominaciones
4      Jaume Balagueró           43 premios y 15 nominaciones
..                 ...                                    ...
62       Carlos Vermut           10 premios y 31 nominaciones
63         Carla Simón           35 premios y 48 nominaciones
64        Raúl Arévalo           29 premios y 27 nominaciones
65      Pilar Palomero           21 premios y 19 nominaciones
66         Borja Soler             8 premios y 4 nominaciones

                                                Foto    Rango_Edad  Comedy  \
0   https://www.imdb.com/name/nm0563748?ref_=nmls_hd  Adulto medio    74.0
1   https://www.imdb.com/name/nm0024622?ref_=nmls_hd  Adulto medio     0.0
2   https://www.imdb.com/name/nm1291105?ref_=nmls_hd  Adulto medio     0.0
3   https://www.imdb.com/name/nm1429471?ref_=nmls_hd  Adulto medio     0.0
4   https://www.imdb.com/name/nm0049371?ref_=nmls_hd  Adulto medio     0.0
..                                               ...           ...     ...
62  https://www.imdb.com/name/nm4209430?ref_=nmls_hd  Adulto medio    94.0
63  https://www.imdb.com/name/nm3427032?ref_=nmls_hd  Adulto Joven     0.0
64  https://www.imdb.com/name/nm1666855?ref_=nmls_hd  Adulto medio     0.0
65  https://www.imdb.com/name/nm1970178?ref_=nmls_hd  Adulto medio     0.0
66  https://www.imdb.com/name/nm2111339?ref_=nmls_hd  Adulto Joven     0.0

    Drama  News  Thriller  Documentary  Animation  Talk-Show  Short  Music  \
0    24.0   NaN       NaN          NaN        NaN        NaN    NaN    NaN
1     NaN  61.0       NaN          NaN        NaN       35.0    NaN    NaN
2     NaN  55.0       NaN         46.0        NaN        NaN    NaN    NaN
3     NaN   NaN      25.0          NaN        NaN        NaN    NaN    NaN
4     NaN  54.0       NaN          NaN        NaN       48.0    NaN    NaN
..    ...   ...       ...          ...        ...        ...    ...    ...
62    NaN   NaN       NaN          NaN        NaN        NaN    NaN    NaN
63   22.0   NaN       NaN          NaN        NaN       30.0    NaN    NaN
64  737.0   NaN     642.0          NaN        NaN        NaN    NaN    NaN
65   15.0   NaN       NaN          NaN        NaN        NaN   22.0    NaN
66   19.0   NaN      17.0          NaN        NaN        NaN    NaN    NaN

    Action  Fantasy  Biography  Family
0      NaN      NaN        NaN     NaN
1      NaN      NaN        NaN     NaN
2      NaN      NaN        NaN     NaN
3     18.0      NaN        NaN     NaN
4      NaN      NaN        NaN     NaN
..     ...      ...        ...     ...
62     NaN     82.0        NaN     NaN
63     NaN      NaN        NaN     NaN
64     NaN      NaN        NaN     NaN
65     NaN      NaN        NaN     NaN
66     NaN      NaN        NaN     NaN

[67 rows x 17 columns]
            Directores                                Premios  \
0         Achero Mañas            26 premios y 7 nominaciones
1   Alejandro Amenábar  61 premios y 56 nominaciones en total
2          J.A. Bayona           31 premios y 28 nominaciones
3   Jaume Collet-Serra                         5 nominaciones
4      Jaume Balagueró           43 premios y 15 nominaciones
..                 ...                                    ...
62       Carlos Vermut           10 premios y 31 nominaciones
63         Carla Simón           35 premios y 48 nominaciones
64        Raúl Arévalo           29 premios y 27 nominaciones
65      Pilar Palomero           21 premios y 19 nominaciones
66         Borja Soler             8 premios y 4 nominaciones

                                                Foto    Rango_Edad  Comedy  \
0   https://www.imdb.com/name/nm0563748?ref_=nmls_hd  Adulto medio    74.0
1   https://www.imdb.com/name/nm0024622?ref_=nmls_hd  Adulto medio     0.0
2   https://www.imdb.com/name/nm1291105?ref_=nmls_hd  Adulto medio     0.0
3   https://www.imdb.com/name/nm1429471?ref_=nmls_hd  Adulto medio     0.0
4   https://www.imdb.com/name/nm0049371?ref_=nmls_hd  Adulto medio     0.0
..                                               ...           ...     ...
62  https://www.imdb.com/name/nm4209430?ref_=nmls_hd  Adulto medio    94.0
63  https://www.imdb.com/name/nm3427032?ref_=nmls_hd  Adulto Joven     0.0
64  https://www.imdb.com/name/nm1666855?ref_=nmls_hd  Adulto medio     0.0
65  https://www.imdb.com/name/nm1970178?ref_=nmls_hd  Adulto medio     0.0
66  https://www.imdb.com/name/nm2111339?ref_=nmls_hd  Adulto Joven     0.0

    Drama  News  Thriller  Documentary  Animation  Talk-Show  Short  Music  \
0    24.0   NaN       NaN          NaN        NaN        NaN    NaN    NaN
1     0.0  61.0       NaN          NaN        NaN       35.0    NaN    NaN
2     0.0  55.0       NaN         46.0        NaN        NaN    NaN    NaN
3     0.0   NaN      25.0          NaN        NaN        NaN    NaN    NaN
4     0.0  54.0       NaN          NaN        NaN       48.0    NaN    NaN
..    ...   ...       ...          ...        ...        ...    ...    ...
62    0.0   NaN       NaN          NaN        NaN        NaN    NaN    NaN
63   22.0   NaN       NaN          NaN        NaN       30.0    NaN    NaN
64  737.0   NaN     642.0          NaN        NaN        NaN    NaN    NaN
65   15.0   NaN       NaN          NaN        NaN        NaN   22.0    NaN
66   19.0   NaN      17.0          NaN        NaN        NaN    NaN    NaN

    Action  Fantasy  Biography  Family
0      NaN      NaN        NaN     NaN
1      NaN      NaN        NaN     NaN
2      NaN      NaN        NaN     NaN
3     18.0      NaN        NaN     NaN
4      NaN      NaN        NaN     NaN
..     ...      ...        ...     ...
62     NaN     82.0        NaN     NaN
63     NaN      NaN        NaN     NaN
64     NaN      NaN        NaN     NaN
65     NaN      NaN        NaN     NaN
66     NaN      NaN        NaN     NaN

[67 rows x 17 columns]
            Directores                                Premios  \
0         Achero Mañas            26 premios y 7 nominaciones
1   Alejandro Amenábar  61 premios y 56 nominaciones en total
2          J.A. Bayona           31 premios y 28 nominaciones
3   Jaume Collet-Serra                         5 nominaciones
4      Jaume Balagueró           43 premios y 15 nominaciones
..                 ...                                    ...
62       Carlos Vermut           10 premios y 31 nominaciones
63         Carla Simón           35 premios y 48 nominaciones
64        Raúl Arévalo           29 premios y 27 nominaciones
65      Pilar Palomero           21 premios y 19 nominaciones
66         Borja Soler             8 premios y 4 nominaciones

                                                Foto    Rango_Edad  Comedy  \
0   https://www.imdb.com/name/nm0563748?ref_=nmls_hd  Adulto medio    74.0
1   https://www.imdb.com/name/nm0024622?ref_=nmls_hd  Adulto medio     0.0
2   https://www.imdb.com/name/nm1291105?ref_=nmls_hd  Adulto medio     0.0
3   https://www.imdb.com/name/nm1429471?ref_=nmls_hd  Adulto medio     0.0
4   https://www.imdb.com/name/nm0049371?ref_=nmls_hd  Adulto medio     0.0
..                                               ...           ...     ...
62  https://www.imdb.com/name/nm4209430?ref_=nmls_hd  Adulto medio    94.0
63  https://www.imdb.com/name/nm3427032?ref_=nmls_hd  Adulto Joven     0.0
64  https://www.imdb.com/name/nm1666855?ref_=nmls_hd  Adulto medio     0.0
65  https://www.imdb.com/name/nm1970178?ref_=nmls_hd  Adulto medio     0.0
66  https://www.imdb.com/name/nm2111339?ref_=nmls_hd  Adulto Joven     0.0

    Drama  News  Thriller  Documentary  Animation  Talk-Show  Short  Music  \
0    24.0   0.0       NaN          NaN        NaN        NaN    NaN    NaN
1     0.0  61.0       NaN          NaN        NaN       35.0    NaN    NaN
2     0.0  55.0       NaN         46.0        NaN        NaN    NaN    NaN
3     0.0   0.0      25.0          NaN        NaN        NaN    NaN    NaN
4     0.0  54.0       NaN          NaN        NaN       48.0    NaN    NaN
..    ...   ...       ...          ...        ...        ...    ...    ...
62    0.0   0.0       NaN          NaN        NaN        NaN    NaN    NaN
63   22.0   0.0       NaN          NaN        NaN       30.0    NaN    NaN
64  737.0   0.0     642.0          NaN        NaN        NaN    NaN    NaN
65   15.0   0.0       NaN          NaN        NaN        NaN   22.0    NaN
66   19.0   0.0      17.0          NaN        NaN        NaN    NaN    NaN

    Action  Fantasy  Biography  Family
0      NaN      NaN        NaN     NaN
1      NaN      NaN        NaN     NaN
2      NaN      NaN        NaN     NaN
3     18.0      NaN        NaN     NaN
4      NaN      NaN        NaN     NaN
..     ...      ...        ...     ...
62     NaN     82.0        NaN     NaN
63     NaN      NaN        NaN     NaN
64     NaN      NaN        NaN     NaN
65     NaN      NaN        NaN     NaN
66     NaN      NaN        NaN     NaN

[67 rows x 17 columns]
            Directores                                Premios  \
0         Achero Mañas            26 premios y 7 nominaciones
1   Alejandro Amenábar  61 premios y 56 nominaciones en total
2          J.A. Bayona           31 premios y 28 nominaciones
3   Jaume Collet-Serra                         5 nominaciones
4      Jaume Balagueró           43 premios y 15 nominaciones
..                 ...                                    ...
62       Carlos Vermut           10 premios y 31 nominaciones
63         Carla Simón           35 premios y 48 nominaciones
64        Raúl Arévalo           29 premios y 27 nominaciones
65      Pilar Palomero           21 premios y 19 nominaciones
66         Borja Soler             8 premios y 4 nominaciones

                                                Foto    Rango_Edad  Comedy  \
0   https://www.imdb.com/name/nm0563748?ref_=nmls_hd  Adulto medio    74.0
1   https://www.imdb.com/name/nm0024622?ref_=nmls_hd  Adulto medio     0.0
2   https://www.imdb.com/name/nm1291105?ref_=nmls_hd  Adulto medio     0.0
3   https://www.imdb.com/name/nm1429471?ref_=nmls_hd  Adulto medio     0.0
4   https://www.imdb.com/name/nm0049371?ref_=nmls_hd  Adulto medio     0.0
..                                               ...           ...     ...
62  https://www.imdb.com/name/nm4209430?ref_=nmls_hd  Adulto medio    94.0
63  https://www.imdb.com/name/nm3427032?ref_=nmls_hd  Adulto Joven     0.0
64  https://www.imdb.com/name/nm1666855?ref_=nmls_hd  Adulto medio     0.0
65  https://www.imdb.com/name/nm1970178?ref_=nmls_hd  Adulto medio     0.0
66  https://www.imdb.com/name/nm2111339?ref_=nmls_hd  Adulto Joven     0.0

    Drama  News  Thriller  Documentary  Animation  Talk-Show  Short  Music  \
0    24.0   0.0       0.0          NaN        NaN        NaN    NaN    NaN
1     0.0  61.0       0.0          NaN        NaN       35.0    NaN    NaN
2     0.0  55.0       0.0         46.0        NaN        NaN    NaN    NaN
3     0.0   0.0      25.0          NaN        NaN        NaN    NaN    NaN
4     0.0  54.0       0.0          NaN        NaN       48.0    NaN    NaN
..    ...   ...       ...          ...        ...        ...    ...    ...
62    0.0   0.0       0.0          NaN        NaN        NaN    NaN    NaN
63   22.0   0.0       0.0          NaN        NaN       30.0    NaN    NaN
64  737.0   0.0     642.0          NaN        NaN        NaN    NaN    NaN
65   15.0   0.0       0.0          NaN        NaN        NaN   22.0    NaN
66   19.0   0.0      17.0          NaN        NaN        NaN    NaN    NaN

    Action  Fantasy  Biography  Family
0      NaN      NaN        NaN     NaN
1      NaN      NaN        NaN     NaN
2      NaN      NaN        NaN     NaN
3     18.0      NaN        NaN     NaN
4      NaN      NaN        NaN     NaN
..     ...      ...        ...     ...
62     NaN     82.0        NaN     NaN
63     NaN      NaN        NaN     NaN
64     NaN      NaN        NaN     NaN
65     NaN      NaN        NaN     NaN
66     NaN      NaN        NaN     NaN

[67 rows x 17 columns]
            Directores                                Premios  \
0         Achero Mañas            26 premios y 7 nominaciones
1   Alejandro Amenábar  61 premios y 56 nominaciones en total
2          J.A. Bayona           31 premios y 28 nominaciones
3   Jaume Collet-Serra                         5 nominaciones
4      Jaume Balagueró           43 premios y 15 nominaciones
..                 ...                                    ...
62       Carlos Vermut           10 premios y 31 nominaciones
63         Carla Simón           35 premios y 48 nominaciones
64        Raúl Arévalo           29 premios y 27 nominaciones
65      Pilar Palomero           21 premios y 19 nominaciones
66         Borja Soler             8 premios y 4 nominaciones

                                                Foto    Rango_Edad  Comedy  \
0   https://www.imdb.com/name/nm0563748?ref_=nmls_hd  Adulto medio    74.0
1   https://www.imdb.com/name/nm0024622?ref_=nmls_hd  Adulto medio     0.0
2   https://www.imdb.com/name/nm1291105?ref_=nmls_hd  Adulto medio     0.0
3   https://www.imdb.com/name/nm1429471?ref_=nmls_hd  Adulto medio     0.0
4   https://www.imdb.com/name/nm0049371?ref_=nmls_hd  Adulto medio     0.0
..                                               ...           ...     ...
62  https://www.imdb.com/name/nm4209430?ref_=nmls_hd  Adulto medio    94.0
63  https://www.imdb.com/name/nm3427032?ref_=nmls_hd  Adulto Joven     0.0
64  https://www.imdb.com/name/nm1666855?ref_=nmls_hd  Adulto medio     0.0
65  https://www.imdb.com/name/nm1970178?ref_=nmls_hd  Adulto medio     0.0
66  https://www.imdb.com/name/nm2111339?ref_=nmls_hd  Adulto Joven     0.0

    Drama  News  Thriller  Documentary  Animation  Talk-Show  Short  Music  \
0    24.0   0.0       0.0          0.0        NaN        NaN    NaN    NaN
1     0.0  61.0       0.0          0.0        NaN       35.0    NaN    NaN
2     0.0  55.0       0.0         46.0        NaN        NaN    NaN    NaN
3     0.0   0.0      25.0          0.0        NaN        NaN    NaN    NaN
4     0.0  54.0       0.0          0.0        NaN       48.0    NaN    NaN
..    ...   ...       ...          ...        ...        ...    ...    ...
62    0.0   0.0       0.0          0.0        NaN        NaN    NaN    NaN
63   22.0   0.0       0.0          0.0        NaN       30.0    NaN    NaN
64  737.0   0.0     642.0          0.0        NaN        NaN    NaN    NaN
65   15.0   0.0       0.0          0.0        NaN        NaN   22.0    NaN
66   19.0   0.0      17.0          0.0        NaN        NaN    NaN    NaN

    Action  Fantasy  Biography  Family
0      NaN      NaN        NaN     NaN
1      NaN      NaN        NaN     NaN
2      NaN      NaN        NaN     NaN
3     18.0      NaN        NaN     NaN
4      NaN      NaN        NaN     NaN
..     ...      ...        ...     ...
62     NaN     82.0        NaN     NaN
63     NaN      NaN        NaN     NaN
64     NaN      NaN        NaN     NaN
65     NaN      NaN        NaN     NaN
66     NaN      NaN        NaN     NaN

[67 rows x 17 columns]
            Directores                                Premios  \
0         Achero Mañas            26 premios y 7 nominaciones
1   Alejandro Amenábar  61 premios y 56 nominaciones en total
2          J.A. Bayona           31 premios y 28 nominaciones
3   Jaume Collet-Serra                         5 nominaciones
4      Jaume Balagueró           43 premios y 15 nominaciones
..                 ...                                    ...
62       Carlos Vermut           10 premios y 31 nominaciones
63         Carla Simón           35 premios y 48 nominaciones
64        Raúl Arévalo           29 premios y 27 nominaciones
65      Pilar Palomero           21 premios y 19 nominaciones
66         Borja Soler             8 premios y 4 nominaciones

                                                Foto    Rango_Edad  Comedy  \
0   https://www.imdb.com/name/nm0563748?ref_=nmls_hd  Adulto medio    74.0
1   https://www.imdb.com/name/nm0024622?ref_=nmls_hd  Adulto medio     0.0
2   https://www.imdb.com/name/nm1291105?ref_=nmls_hd  Adulto medio     0.0
3   https://www.imdb.com/name/nm1429471?ref_=nmls_hd  Adulto medio     0.0
4   https://www.imdb.com/name/nm0049371?ref_=nmls_hd  Adulto medio     0.0
..                                               ...           ...     ...
62  https://www.imdb.com/name/nm4209430?ref_=nmls_hd  Adulto medio    94.0
63  https://www.imdb.com/name/nm3427032?ref_=nmls_hd  Adulto Joven     0.0
64  https://www.imdb.com/name/nm1666855?ref_=nmls_hd  Adulto medio     0.0
65  https://www.imdb.com/name/nm1970178?ref_=nmls_hd  Adulto medio     0.0
66  https://www.imdb.com/name/nm2111339?ref_=nmls_hd  Adulto Joven     0.0

    Drama  News  Thriller  Documentary  Animation  Talk-Show  Short  Music  \
0    24.0   0.0       0.0          0.0        0.0        NaN    NaN    NaN
1     0.0  61.0       0.0          0.0        0.0       35.0    NaN    NaN
2     0.0  55.0       0.0         46.0        0.0        NaN    NaN    NaN
3     0.0   0.0      25.0          0.0        0.0        NaN    NaN    NaN
4     0.0  54.0       0.0          0.0        0.0       48.0    NaN    NaN
..    ...   ...       ...          ...        ...        ...    ...    ...
62    0.0   0.0       0.0          0.0        0.0        NaN    NaN    NaN
63   22.0   0.0       0.0          0.0        0.0       30.0    NaN    NaN
64  737.0   0.0     642.0          0.0        0.0        NaN    NaN    NaN
65   15.0   0.0       0.0          0.0        0.0        NaN   22.0    NaN
66   19.0   0.0      17.0          0.0        0.0        NaN    NaN    NaN

    Action  Fantasy  Biography  Family
0      NaN      NaN        NaN     NaN
1      NaN      NaN        NaN     NaN
2      NaN      NaN        NaN     NaN
3     18.0      NaN        NaN     NaN
4      NaN      NaN        NaN     NaN
..     ...      ...        ...     ...
62     NaN     82.0        NaN     NaN
63     NaN      NaN        NaN     NaN
64     NaN      NaN        NaN     NaN
65     NaN      NaN        NaN     NaN
66     NaN      NaN        NaN     NaN

[67 rows x 17 columns]
            Directores                                Premios  \
0         Achero Mañas            26 premios y 7 nominaciones
1   Alejandro Amenábar  61 premios y 56 nominaciones en total
2          J.A. Bayona           31 premios y 28 nominaciones
3   Jaume Collet-Serra                         5 nominaciones
4      Jaume Balagueró           43 premios y 15 nominaciones
..                 ...                                    ...
62       Carlos Vermut           10 premios y 31 nominaciones
63         Carla Simón           35 premios y 48 nominaciones
64        Raúl Arévalo           29 premios y 27 nominaciones
65      Pilar Palomero           21 premios y 19 nominaciones
66         Borja Soler             8 premios y 4 nominaciones

                                                Foto    Rango_Edad  Comedy  \
0   https://www.imdb.com/name/nm0563748?ref_=nmls_hd  Adulto medio    74.0
1   https://www.imdb.com/name/nm0024622?ref_=nmls_hd  Adulto medio     0.0
2   https://www.imdb.com/name/nm1291105?ref_=nmls_hd  Adulto medio     0.0
3   https://www.imdb.com/name/nm1429471?ref_=nmls_hd  Adulto medio     0.0
4   https://www.imdb.com/name/nm0049371?ref_=nmls_hd  Adulto medio     0.0
..                                               ...           ...     ...
62  https://www.imdb.com/name/nm4209430?ref_=nmls_hd  Adulto medio    94.0
63  https://www.imdb.com/name/nm3427032?ref_=nmls_hd  Adulto Joven     0.0
64  https://www.imdb.com/name/nm1666855?ref_=nmls_hd  Adulto medio     0.0
65  https://www.imdb.com/name/nm1970178?ref_=nmls_hd  Adulto medio     0.0
66  https://www.imdb.com/name/nm2111339?ref_=nmls_hd  Adulto Joven     0.0


            Directores                                Premios  \
0         Achero Mañas            26 premios y 7 nominaciones
1   Alejandro Amenábar  61 premios y 56 nominaciones en total
2          J.A. Bayona           31 premios y 28 nominaciones
3   Jaume Collet-Serra                         5 nominaciones
4      Jaume Balagueró           43 premios y 15 nominaciones
..                 ...                                    ...
62       Carlos Vermut           10 premios y 31 nominaciones
63         Carla Simón           35 premios y 48 nominaciones
64        Raúl Arévalo           29 premios y 27 nominaciones
65      Pilar Palomero           21 premios y 19 nominaciones
66         Borja Soler             8 premios y 4 nominaciones

                                                Foto    Rango_Edad  Comedy  \
0   https://www.imdb.com/name/nm0563748?ref_=nmls_hd  Adulto medio    74.0
1   https://www.imdb.com/name/nm0024622?ref_=nmls_hd  Adulto medio     0.0
2   https://www.imdb.com/name/nm1291105?ref_=nmls_hd  Adulto medio     0.0
3   https://www.imdb.com/name/nm1429471?ref_=nmls_hd  Adulto medio     0.0
4   https://www.imdb.com/name/nm0049371?ref_=nmls_hd  Adulto medio     0.0
..                                               ...           ...     ...
62  https://www.imdb.com/name/nm4209430?ref_=nmls_hd  Adulto medio    94.0
63  https://www.imdb.com/name/nm3427032?ref_=nmls_hd  Adulto Joven     0.0
64  https://www.imdb.com/name/nm1666855?ref_=nmls_hd  Adulto medio     0.0
65  https://www.imdb.com/name/nm1970178?ref_=nmls_hd  Adulto medio     0.0
66  https://www.imdb.com/name/nm2111339?ref_=nmls_hd  Adulto Joven     0.0

    Drama  News  Thriller  Documentary  Animation  Talk-Show  Short  Music  \
0    24.0   0.0       0.0          0.0        0.0        0.0    0.0    0.0
1     0.0  61.0       0.0          0.0        0.0       35.0    0.0    0.0
2     0.0  55.0       0.0         46.0        0.0        0.0    0.0    0.0
3     0.0   0.0      25.0          0.0        0.0        0.0    0.0    0.0
4     0.0  54.0       0.0          0.0        0.0       48.0    0.0    0.0
..    ...   ...       ...          ...        ...        ...    ...    ...
62    0.0   0.0       0.0          0.0        0.0        0.0    0.0    0.0
63   22.0   0.0       0.0          0.0        0.0       30.0    0.0    0.0
64  737.0   0.0     642.0          0.0        0.0        0.0    0.0    0.0
65   15.0   0.0       0.0          0.0        0.0        0.0   22.0    0.0
66   19.0   0.0      17.0          0.0        0.0        0.0    0.0    0.0

    Action  Fantasy  Biography  Family
0      0.0      0.0        0.0     0.0
1      0.0      0.0        0.0     0.0
2      0.0      0.0        0.0     0.0
3     18.0      0.0        0.0     0.0
4      0.0      0.0        0.0     0.0
..     ...      ...        ...     ...
62     0.0     82.0        0.0     0.0
63     0.0      0.0        0.0     0.0
64     0.0      0.0        0.0     0.0
65     0.0      0.0        0.0     0.0
66     0.0      0.0        0.0     0.0

[67 rows x 17 columns]

In [23]:
def prem_nom (df, columna):
    
    df[['Premios','Nominaciones']]= columna.str.extract(r'(.*)[y]+(.*)', expand=True)
    df['Premios']= df['Premios'].str.split(' ').str[0]
    df['Nominaciones']= df['Nominaciones'].str.split(' ').str[1]
    df[['Premios', 'Nominaciones']]= df[['Premios', 'Nominaciones']].fillna(value=0)
    
    return df

In [24]:
prem_nom(directores, directores.Premios)

,Directores,Premios,Foto,Rango_Edad,Comedy,Drama,News,Thriller,Documentary,Animation,Talk-Show,Short,Music,Action,Fantasy,Biography,Family,Nominaciones
0,Achero Mañas,26,https://www.imdb.com/name/nm0563748?ref_=nmls_hd,Adulto medio,74.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7
1,Alejandro Amenábar,61,https://www.imdb.com/name/nm0024622?ref_=nmls_hd,Adulto medio,0.0,0.0,61.0,0.0,0.0,0.0,35.0,0.0,0.0,0.0,0.0,0.0,0.0,56
2,J.A. Bayona,31,https://www.imdb.com/name/nm1291105?ref_=nmls_hd,Adulto medio,0.0,0.0,55.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28
3,Jaume Collet-Serra,0,https://www.imdb.com/name/nm1429471?ref_=nmls_hd,Adulto medio,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,0.0,0.0,0
4,Jaume Balagueró,43,https://www.imdb.com/name/nm0049371?ref_=nmls_hd,Adulto medio,0.0,0.0,54.0,0.0,0.0,0.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Carlos Vermut,10,https://www.imdb.com/name/nm4209430?ref_=nmls_hd,Adulto medio,94.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82.0,0.0,0.0,31
63,Carla Simón,35,https://www.imdb.com/name/nm3427032?ref_=nmls_hd,Adulto Joven,0.0,22.0,0.0,0.0,0.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,48
64,Raúl Arévalo,29,https://www.imdb.com/name/nm1666855?ref_=nmls_hd,Adulto medio,0.0,737.0,0.0,642.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27
65,Pilar Palomero,21,https://www.imdb.com/name/nm1970178?ref_=nmls_hd,Adulto medio,0.0,15.0,0.0,0.0,0.0,0.0,0.0,22.0,0.0,0.0,0.0,0.0,0.0,19
66,Borja Soler,8,https://www.imdb.com/name/nm2111339?ref_=nmls_hd,Adulto Joven,0.0,19.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

In [25]:
directores['Premios']= directores.Premios.astype(float)
directores['Nominaciones']= directores.Nominaciones.astype(float)

In [26]:
neworder = ['Directores','Premios','Nominaciones','Rango_Edad','Drama', 'Comedy', 'Talk-Show', 'Thriller', 'Animation', 'News', 'Music', 'Action', 'Family', 'Biography', 'Fantasy', 'Short', 'Documentary', 'Foto']
directores=directores.reindex(columns=neworder)

In [27]:
directores.at[1, 'Drama']= 20
directores.at[1, 'Thriller']= 19
directores.at[2, 'Drama']= 32
directores.at[2, 'Adventure']= 18
directores.at[2, 'Fantasy']= 17
directores.at[4, 'Fantasy']= 28
directores.at[7, 'Drama']= 54
directores.at[7, 'Comedy']= 95
directores.at[11, 'Thriller']= 40
directores.at[15, 'Drama']= 33
directores.at[22, 'Drama']= 33

In [28]:
directores= directores.drop(directores[directores.Directores == 'Joaquín Oristrell'].index).reset_index(drop=True)
directores.head()   #borra la fila que coincida con el nombre

,Directores,Premios,Nominaciones,Rango_Edad,Drama,Comedy,Talk-Show,Thriller,Animation,News,Music,Action,Family,Biography,Fantasy,Short,Documentary,Foto,Adventure
0,Achero Mañas,26.0,7.0,Adulto medio,24.0,74.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,https://www.imdb.com/name/nm0563748?ref_=nmls_hd,NaN
1,Alejandro Amenábar,61.0,56.0,Adulto medio,20.0,0.0,35.0,19.0,0.0,61.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,https://www.imdb.com/name/nm0024622?ref_=nmls_hd,NaN
2,J.A. Bayona,31.0,28.0,Adulto medio,32.0,0.0,0.0,0.0,0.0,55.0,0.0,0.0,0.0,0.0,17.0,0.0,46.0,https://www.imdb.com/name/nm1291105?ref_=nmls_hd,18.0
3,Jaume Collet-Serra,0.0,0.0,Adulto medio,0.0,0.0,0.0,25.0,0.0,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,https://www.imdb.com/name/nm1429471?ref_=nmls_hd,NaN
4,Jaume Balagueró,43.0,15.0,Adulto medio,0.0,0.0,48.0,0.0,0.0,54.0,0.0,0.0,0.0,0.0,28.0,0.0,0.0,https://www.imdb.com/name/nm0049371?ref_=nmls_hd,NaN

In [147]:
directores.to_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\Directores_listado.csv', index=False)

# DATA CLEANING ACTRICES

In [29]:
datos= pd.read_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\csv_from_sql\Actrices_Españolas.csv')
actrices= datos.copy()
actrices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Actrices          339 non-null    object
 1   Fecha_Nacimiento  216 non-null    object
 2   Premios           162 non-null    object
 3   Genero_1          338 non-null    object
 4   Genero_2          334 non-null    object
 5   Foto              339 non-null    object
dtypes: object(6)
memory usage: 16.0+ KB

In [30]:
actrices['Fecha_Nacimiento']= actrices.Fecha_Nacimiento.astype('datetime64').dt.year

In [31]:
actrices.at[0, 'Fecha_Nacimiento']= 1940
actrices.at[5, 'Fecha_Nacimiento']= 1987
actrices.at[8, 'Fecha_Nacimiento']= 1980
actrices.at[9, 'Fecha_Nacimiento']= 1975
actrices.at[14, 'Fecha_Nacimiento']= 1940
actrices.at[17, 'Fecha_Nacimiento']= 1976
actrices.at[20, 'Fecha_Nacimiento']= 1946
actrices.at[28, 'Fecha_Nacimiento']= 1985
actrices.at[36, 'Fecha_Nacimiento']= 1941
actrices.at[38, 'Fecha_Nacimiento']= 1957
actrices.at[39, 'Fecha_Nacimiento']= 1967
actrices.at[43, 'Fecha_Nacimiento']= 1977
actrices.at[55, 'Fecha_Nacimiento']= 1937
actrices.at[56, 'Fecha_Nacimiento']= 1972
actrices.at[58, 'Fecha_Nacimiento']= 1968
actrices.at[59, 'Fecha_Nacimiento']= 1940
actrices.at[60, 'Fecha_Nacimiento']= 1940
actrices.at[66, 'Fecha_Nacimiento']= 1940
actrices.at[67, 'Fecha_Nacimiento']= 1940
actrices.at[68, 'Fecha_Nacimiento']= 1940
actrices.at[69, 'Fecha_Nacimiento']= 1940
actrices.at[70, 'Fecha_Nacimiento']= 1940
actrices.at[71, 'Fecha_Nacimiento']= 1940
actrices.at[72, 'Fecha_Nacimiento']= 1979
actrices.at[75, 'Fecha_Nacimiento']= 1994
actrices.at[76, 'Fecha_Nacimiento']= 1977
actrices.at[78, 'Fecha_Nacimiento']= 1960
actrices.at[80, 'Fecha_Nacimiento']= 1978
actrices.at[83, 'Fecha_Nacimiento']= 1940
actrices.at[84, 'Fecha_Nacimiento']= 1940
actrices.at[85, 'Fecha_Nacimiento']= 1940
actrices.at[90, 'Fecha_Nacimiento']= 1965
actrices.at[91, 'Fecha_Nacimiento']= 1981
actrices.at[107, 'Fecha_Nacimiento']= 1973
actrices.at[108, 'Fecha_Nacimiento']= 1967
actrices.at[109, 'Fecha_Nacimiento']= 1958
actrices.at[110, 'Fecha_Nacimiento']= 1950
actrices.at[112, 'Fecha_Nacimiento']= 1961
actrices.at[115, 'Fecha_Nacimiento']= 1970
actrices.at[117, 'Fecha_Nacimiento']= 1944
actrices.at[126, 'Fecha_Nacimiento']= 1984
actrices.at[128, 'Fecha_Nacimiento']= 1979
actrices.at[129, 'Fecha_Nacimiento']= 1940
actrices.at[130, 'Fecha_Nacimiento']= 1940
actrices.at[131, 'Fecha_Nacimiento']= 1940
actrices.at[132, 'Fecha_Nacimiento']= 1993
actrices.at[135, 'Fecha_Nacimiento']= 1978
actrices.at[141, 'Fecha_Nacimiento']= 1976
actrices.at[154, 'Fecha_Nacimiento']= 1979
actrices.at[155, 'Fecha_Nacimiento']= 1977
actrices.at[157, 'Fecha_Nacimiento']= 1976
actrices.at[159, 'Fecha_Nacimiento']= 1969
actrices.at[160, 'Fecha_Nacimiento']= 1972
actrices.at[161, 'Fecha_Nacimiento']= 1940
actrices.at[166, 'Fecha_Nacimiento']= 1970
actrices.at[170, 'Fecha_Nacimiento']= 1978
actrices.at[171, 'Fecha_Nacimiento']= 1971
actrices.at[172, 'Fecha_Nacimiento']= 1940
actrices.at[173, 'Fecha_Nacimiento']= 1985
actrices.at[176, 'Fecha_Nacimiento']= 1961
actrices.at[177, 'Fecha_Nacimiento']= 1940
actrices.at[178, 'Fecha_Nacimiento']= 1987
actrices.at[215, 'Fecha_Nacimiento']= 1940
actrices.at[217, 'Fecha_Nacimiento']= 1940
actrices.at[218, 'Fecha_Nacimiento']= 1940
actrices.at[219, 'Fecha_Nacimiento']= 1940
actrices.at[221, 'Fecha_Nacimiento']= 1935
actrices.at[222, 'Fecha_Nacimiento']= 1940
actrices.at[224, 'Fecha_Nacimiento']= 1940
actrices.at[227, 'Fecha_Nacimiento']= 1940
actrices.at[228, 'Fecha_Nacimiento']= 1960
actrices.at[229, 'Fecha_Nacimiento']= 1969
actrices.at[232, 'Fecha_Nacimiento']= 1966
actrices.at[233, 'Fecha_Nacimiento']= 1956
actrices.at[235, 'Fecha_Nacimiento']= 1940
actrices.at[236, 'Fecha_Nacimiento']= 1940
actrices.at[240, 'Fecha_Nacimiento']= 1981
actrices.at[241, 'Fecha_Nacimiento']= 1978
actrices.at[242, 'Fecha_Nacimiento']= 1940
actrices.at[243, 'Fecha_Nacimiento']= 1940
actrices.at[244, 'Fecha_Nacimiento']= 1940
actrices.at[247, 'Fecha_Nacimiento']= 1940
actrices.at[248, 'Fecha_Nacimiento']= 1942
actrices.at[249, 'Fecha_Nacimiento']= 1943
actrices.at[251, 'Fecha_Nacimiento']= 1940
actrices.at[252, 'Fecha_Nacimiento']= 1985
actrices.at[253, 'Fecha_Nacimiento']= 1980
actrices.at[255, 'Fecha_Nacimiento']= 1985
actrices.at[258, 'Fecha_Nacimiento']= 1940
actrices.at[261, 'Fecha_Nacimiento']= 1965
actrices.at[262, 'Fecha_Nacimiento']= 1940
actrices.at[263, 'Fecha_Nacimiento']= 1940
actrices.at[264, 'Fecha_Nacimiento']= 1940
actrices.at[267, 'Fecha_Nacimiento']= 1957
actrices.at[268, 'Fecha_Nacimiento']= 1970
actrices.at[269, 'Fecha_Nacimiento']= 1969
actrices.at[277, 'Fecha_Nacimiento']= 1978
actrices.at[278, 'Fecha_Nacimiento']= 1940
actrices.at[279, 'Fecha_Nacimiento']= 1940
actrices.at[281, 'Fecha_Nacimiento']= 1940
actrices.at[283, 'Fecha_Nacimiento']= 1940
actrices.at[284, 'Fecha_Nacimiento']= 1940
actrices.at[285, 'Fecha_Nacimiento']= 1966
actrices.at[286, 'Fecha_Nacimiento']= 1940
actrices.at[290, 'Fecha_Nacimiento']= 1972
actrices.at[292, 'Fecha_Nacimiento']= 1940
actrices.at[293, 'Fecha_Nacimiento']= 1984
actrices.at[297, 'Fecha_Nacimiento']= 1981
actrices.at[299, 'Fecha_Nacimiento']= 1979
actrices.at[302, 'Fecha_Nacimiento']= 1966
actrices.at[303, 'Fecha_Nacimiento']= 1940
actrices.at[310, 'Fecha_Nacimiento']= 1980
actrices.at[311, 'Fecha_Nacimiento']= 1978
actrices.at[312, 'Fecha_Nacimiento']= 1940
actrices.at[317, 'Fecha_Nacimiento']= 1980
actrices.at[320, 'Fecha_Nacimiento']= 1940
actrices.at[323, 'Fecha_Nacimiento']= 1971
actrices.at[324, 'Fecha_Nacimiento']= 1916
actrices.at[332, 'Fecha_Nacimiento']= 1978

In [32]:
actrices.shape

(339, 6)

In [33]:
actrices.loc[actrices['Fecha_Nacimiento'].isna()== True]

,Actrices,Fecha_Nacimiento,Premios,Genero_1,Genero_2,Foto
181,Cristina Juan,NaN,NaN,Drama (15),Comedy (11),https://m.media-amazon.com/images/S/sash/9FayP...
182,Carmen Grey,NaN,NaN,Comedy (24),Drama (12),https://m.media-amazon.com/images/S/sash/9FayP...
184,Lydia Ramírez,NaN,NaN,Action (11),Adventure (11),https://m.media-amazon.com/images/S/sash/9FayP...
195,Licia Calderón,NaN,NaN,Comedy (39),Drama (16),https://m.media-amazon.com/images/M/MV5BMTNkN2...
197,Lucía Prado,NaN,NaN,Comedy (14),Drama (12),https://m.media-amazon.com/images/M/MV5BOGZlOG...
282,Paloma Rodríguez,NaN,NaN,Comedy (3),Action (1),https://m.media-amazon.com/images/S/sash/9FayP...

In [34]:
actrices.dropna(subset= ['Fecha_Nacimiento'], inplace=True)  #borra las dilas nulas de esa columna

In [35]:
actrices.shape

(333, 6)

In [36]:
actrices= edades(actrices, actrices['Fecha_Nacimiento'])
actrices.head()

,Actrices,Fecha_Nacimiento,Premios,Genero_1,Genero_2,Foto,Rango_Edad
0,Carmen Ruiz,1974.0,6 premios y 1 nominación,Comedy (752),Romance (539),https://m.media-amazon.com/images/M/MV5BMTg2MT...,Adulto medio
1,Silvia Alonso,1989.0,NaN,Drama (169),Romance (136),https://m.media-amazon.com/images/M/MV5BMjY0MT...,Adulto Joven
2,María Hervás,1987.0,2 nominaciones,Comedy (269),Drama (135),https://m.media-amazon.com/images/M/MV5BMjNhZW...,Adulto Joven
3,Ruth Díaz,1975.0,6 premios y 5 nominaciones,Drama (119),Thriller (77),https://m.media-amazon.com/images/M/MV5BM2U4MW...,Adulto medio
4,Ingrid Rubio,1975.0,9 premios y 10 nominaciones,Drama (244),Thriller (45),https://m.media-amazon.com/images/M/MV5BYjViNW...,Adulto medio

In [37]:
actrices.drop('Fecha_Nacimiento', inplace=True, axis=1)

In [38]:
#actrices.Genero_2.unique()

In [39]:
genero(actrices, actrices.Genero_1, 'Comedy ', 'Comedy')
genero(actrices, actrices.Genero_1, 'Drama ', 'Drama')
genero(actrices, actrices.Genero_1, 'News ','News')
genero(actrices, actrices.Genero_1, 'Thriller ', 'Thriller' )
genero(actrices, actrices.Genero_1, 'Game-Show ', 'Game-Show')
genero(actrices, actrices.Genero_1, 'Adventure ', 'Adventure')
genero(actrices, actrices.Genero_1, 'Talk-Show ', 'Talk-Show')
genero(actrices, actrices.Genero_1, 'Sci-Fi ', 'Sci-Fi')
genero(actrices, actrices.Genero_1, 'Music ','Music')
genero(actrices, actrices.Genero_1, 'Musical ','Musical')
genero(actrices, actrices.Genero_1, 'Reality-Tv ','Reality-Tv')
genero(actrices, actrices.Genero_1, 'Mystery ','Mystery')
genero(actrices, actrices.Genero_1, 'Action ','Action')
genero(actrices, actrices.Genero_1, 'Family ','Family')
genero(actrices, actrices.Genero_1, 'Romance ','Romance')

genero(actrices, actrices.Genero_2, 'Comedy ', 'Comedy')
genero(actrices, actrices.Genero_2, 'Drama ', 'Drama')
genero(actrices, actrices.Genero_2, 'News ', 'News')
genero(actrices, actrices.Genero_2, 'Thriller ', 'Thriller')
genero(actrices, actrices.Genero_2, 'Romance ', 'Romance')
genero(actrices, actrices.Genero_2, 'Crime ', 'Crime')
genero(actrices, actrices.Genero_2, 'Talk-Show ', 'Talk-Show')
genero(actrices, actrices.Genero_2, 'Short ', 'Short')
genero(actrices, actrices.Genero_2, 'Music ', 'Music')
genero(actrices, actrices.Genero_2, 'Game-Show ','Game-Show')  
genero(actrices, actrices.Genero_2, 'Adventure ', 'Adventure') 
genero(actrices, actrices.Genero_2, 'Biography ', 'Biography') 
genero(actrices, actrices.Genero_2, 'Family ', 'Family')
genero(actrices, actrices.Genero_2, 'Reality-Tv ', 'Reality-Tv')
genero(actrices, actrices.Genero_2, 'Horror ', 'Horror')
genero(actrices, actrices.Genero_2, 'Musical ', 'Musical')
genero(actrices, actrices.Genero_2, 'Adult ', 'Adult')
genero(actrices, actrices.Genero_2, 'Sport ', 'Sport')

,Actrices,Premios,Genero_1,Genero_2,Foto,Rango_Edad,Comedy,Drama,News,Thriller,...,Mystery,Action,Family,Romance,Crime,Short,Biography,Horror,Adult,Sport
0,Carmen Ruiz,6 premios y 1 nominación,Comedy (752),Romance (539),https://m.media-amazon.com/images/M/MV5BMTg2MT...,Adulto medio,752,NaN,NaN,NaN,...,NaN,NaN,NaN,539,NaN,NaN,NaN,NaN,NaN,NaN
1,Silvia Alonso,NaN,Drama (169),Romance (136),https://m.media-amazon.com/images/M/MV5BMjY0MT...,Adulto Joven,NaN,169,NaN,NaN,...,NaN,NaN,NaN,136,NaN,NaN,NaN,NaN,NaN,NaN
2,María Hervás,2 nominaciones,Comedy (269),Drama (135),https://m.media-amazon.com/images/M/MV5BMjNhZW...,Adulto Joven,269,135,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ruth Díaz,6 premios y 5 nominaciones,Drama (119),Thriller (77),https://m.media-amazon.com/images/M/MV5BM2U4MW...,Adulto medio,NaN,119,NaN,77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ingrid Rubio,9 premios y 10 nominaciones,Drama (244),Thriller (45),https://m.media-amazon.com/images/M/MV5BYjViNW...,Adulto medio,NaN,244,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,Laura Toledo,NaN,Drama (65),Romance (35),https://m.media-amazon.com/images/S/sash/9FayP...,Adulto medio,NaN,65,NaN,NaN,...,NaN,NaN,NaN,35,NaN,NaN,NaN,NaN,NaN,NaN
239,Yolanthe Cabau,1 premio,Drama (300),Romance (25),https://m.media-amazon.com/images/M/MV5BNDJkMj...,Adulto Joven,NaN,300,NaN,NaN,...,NaN,NaN,NaN,25,NaN,NaN,NaN,NaN,NaN,NaN
240,Alicia Sánchez,1 nominación,Drama (104),Thriller (44),https://m.media-amazon.com/images/M/MV5BOWVkYm...,Adulto maduro,NaN,104,NaN,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,Mariona Tena,NaN,Drama (563),Thriller (76),https://m.media-amazon.com/images/M/MV5BY2MxNm...,Adulto Joven,NaN,563,NaN,76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,Carla Díaz,NaN,Drama (537),Adventure (208),https://m.media-amazon.com/images/M/MV5BMTJmY2...,Joven,NaN,537,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
actrices= actrices.drop(['Genero_1', 'Genero_2'], axis=1)

In [41]:
actrices=actrices.astype({'Drama':'float64', 'Comedy':'float64', 'Talk-Show':'float64', 'Thriller':'float64', 
                          'Adventure':'float64', 'News':'float64', 'Music':'float64', 'Action':'float64', 'Family':'float64',
                          'Biography':'float64', 'Game-Show':'float64', 'Short':'float64', 'Romance':'float64', 
                          'Sci-Fi':'float64', 'Musical':'float64', 'Reality-Tv':'float64', 'Horror':'float64', 'Adult':'float64',
                          'Sport':'float64', 'Mystery':'float64', 'Crime':'float64'})

In [42]:
for z in actrices.select_dtypes(include='float64'):
    actrices[z].fillna(0, inplace=True)
    print(actrices)

           Actrices                      Premios  \
0       Carmen Ruiz     6 premios y 1 nominación
1     Silvia Alonso                          NaN
2      María Hervás               2 nominaciones
3         Ruth Díaz   6 premios y 5 nominaciones
4      Ingrid Rubio  9 premios y 10 nominaciones
..              ...                          ...
238    Laura Toledo                          NaN
239  Yolanthe Cabau                     1 premio
240  Alicia Sánchez                 1 nominación
241    Mariona Tena                          NaN
242      Carla Díaz                          NaN

                                                  Foto     Rango_Edad  Comedy  \
0    https://m.media-amazon.com/images/M/MV5BMTg2MT...   Adulto medio   752.0
1    https://m.media-amazon.com/images/M/MV5BMjY0MT...   Adulto Joven     0.0
2    https://m.media-amazon.com/images/M/MV5BMjNhZW...   Adulto Joven   269.0
3    https://m.media-amazon.com/images/M/MV5BM2U4MW...   Adulto medio     0.0
4    https://m.media-amazon.com/images/M/MV5BYjViNW...   Adulto medio     0.0
..                                                 ...            ...     ...
238  https://m.media-amazon.com/images/S/sash/9FayP...   Adulto medio     0.0
239  https://m.media-amazon.com/images/M/MV5BNDJkMj...   Adulto Joven     0.0
240  https://m.media-amazon.com/images/M/MV5BOWVkYm...  Adulto maduro     0.0
241  https://m.media-amazon.com/images/M/MV5BY2MxNm...   Adulto Joven     0.0
242  https://m.media-amazon.com/images/M/MV5BMTJmY2...          Joven     0.0

     Drama  News  Thriller  Game-Show  Adventure  ...  Mystery  Action  \
0      NaN   NaN       NaN        NaN        NaN  ...      NaN     NaN
1    169.0   NaN       NaN        NaN        NaN  ...      NaN     NaN
2    135.0   NaN       NaN        NaN        NaN  ...      NaN     NaN
3    119.0   NaN      77.0        NaN        NaN  ...      NaN     NaN
4    244.0   NaN      45.0        NaN        NaN  ...      NaN     NaN
..     ...   ...       ...        ...        ...  ...      ...     ...
238   65.0   NaN       NaN        NaN        NaN  ...      NaN     NaN
239  300.0   NaN       NaN        NaN        NaN  ...      NaN     NaN
240  104.0   NaN      44.0        NaN        NaN  ...      NaN     NaN
241  563.0   NaN      76.0        NaN        NaN  ...      NaN     NaN
242  537.0   NaN       NaN        NaN      208.0  ...      NaN     NaN

     Family  Romance  Crime  Short  Biography  Horror  Adult  Sport
0       NaN    539.0    NaN    NaN        NaN     NaN    NaN    NaN
1       NaN    136.0    NaN    NaN        NaN     NaN    NaN    NaN
2       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
3       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
4       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
..      ...      ...    ...    ...        ...     ...    ...    ...
238     NaN     35.0    NaN    NaN        NaN     NaN    NaN    NaN
239     NaN     25.0    NaN    NaN        NaN     NaN    NaN    NaN
240     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
241     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
242     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN

[243 rows x 25 columns]
           Actrices                      Premios  \
0       Carmen Ruiz     6 premios y 1 nominación
1     Silvia Alonso                          NaN
2      María Hervás               2 nominaciones
3         Ruth Díaz   6 premios y 5 nominaciones
4      Ingrid Rubio  9 premios y 10 nominaciones
..              ...                          ...
238    Laura Toledo                          NaN
239  Yolanthe Cabau                     1 premio
240  Alicia Sánchez                 1 nominación
241    Mariona Tena                          NaN
242      Carla Díaz                          NaN

                                                  Foto     Rango_Edad  Comedy  \
0    https://m.media-amazon.com/images/M/MV5BMTg2MT...   Adulto medio   752.0
1    https://m.media-amazon.com/images/M/MV5BMjY0MT...   Adulto Joven     0.0
2    https://m.media-amazon.com/images/M/MV5BMjNhZW...   Adulto Joven   269.0
3    https://m.media-amazon.com/images/M/MV5BM2U4MW...   Adulto medio     0.0
4    https://m.media-amazon.com/images/M/MV5BYjViNW...   Adulto medio     0.0
..                                                 ...            ...     ...
238  https://m.media-amazon.com/images/S/sash/9FayP...   Adulto medio     0.0
239  https://m.media-amazon.com/images/M/MV5BNDJkMj...   Adulto Joven     0.0
240  https://m.media-amazon.com/images/M/MV5BOWVkYm...  Adulto maduro     0.0
241  https://m.media-amazon.com/images/M/MV5BY2MxNm...   Adulto Joven     0.0
242  https://m.media-amazon.com/images/M/MV5BMTJmY2...          Joven     0.0

     Drama  News  Thriller  Game-Show  Adventure  ...  Mystery  Action  \
0      0.0   NaN       NaN        NaN        NaN  ...      NaN     NaN
1    169.0   NaN       NaN        NaN        NaN  ...      NaN     NaN
2    135.0   NaN       NaN        NaN        NaN  ...      NaN     NaN
3    119.0   NaN      77.0        NaN        NaN  ...      NaN     NaN
4    244.0   NaN      45.0        NaN        NaN  ...      NaN     NaN
..     ...   ...       ...        ...        ...  ...      ...     ...
238   65.0   NaN       NaN        NaN        NaN  ...      NaN     NaN
239  300.0   NaN       NaN        NaN        NaN  ...      NaN     NaN
240  104.0   NaN      44.0        NaN        NaN  ...      NaN     NaN
241  563.0   NaN      76.0        NaN        NaN  ...      NaN     NaN
242  537.0   NaN       NaN        NaN      208.0  ...      NaN     NaN

     Family  Romance  Crime  Short  Biography  Horror  Adult  Sport
0       NaN    539.0    NaN    NaN        NaN     NaN    NaN    NaN
1       NaN    136.0    NaN    NaN        NaN     NaN    NaN    NaN
2       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
3       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
4       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
..      ...      ...    ...    ...        ...     ...    ...    ...
238     NaN     35.0    NaN    NaN        NaN     NaN    NaN    NaN
239     NaN     25.0    NaN    NaN        NaN     NaN    NaN    NaN
240     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
241     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
242     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN

[243 rows x 25 columns]
           Actrices                      Premios  \
0       Carmen Ruiz     6 premios y 1 nominación
1     Silvia Alonso                          NaN
2      María Hervás               2 nominaciones
3         Ruth Díaz   6 premios y 5 nominaciones
4      Ingrid Rubio  9 premios y 10 nominaciones
..              ...                          ...
238    Laura Toledo                          NaN
239  Yolanthe Cabau                     1 premio
240  Alicia Sánchez                 1 nominación
241    Mariona Tena                          NaN
242      Carla Díaz                          NaN

                                                  Foto     Rango_Edad  Comedy  \
0    https://m.media-amazon.com/images/M/MV5BMTg2MT...   Adulto medio   752.0
1    https://m.media-amazon.com/images/M/MV5BMjY0MT...   Adulto Joven     0.0
2    https://m.media-amazon.com/images/M/MV5BMjNhZW...   Adulto Joven   269.0
3    https://m.media-amazon.com/images/M/MV5BM2U4MW...   Adulto medio     0.0
4    https://m.media-amazon.com/images/M/MV5BYjViNW...   Adulto medio     0.0
..                                                 ...            ...     ...
238  https://m.media-amazon.com/images/S/sash/9FayP...   Adulto medio     0.0
239  https://m.media-amazon.com/images/M/MV5BNDJkMj...   Adulto Joven     0.0
240  https://m.media-amazon.com/images/M/MV5BOWVkYm...  Adulto maduro     0.0
241  https://m.media-amazon.com/images/M/MV5BY2MxNm...   Adulto Joven     0.0
242  https://m.media-amazon.com/images/M/MV5BMTJmY2...          Joven     0.0

     Drama  News  Thriller  Game-Show  Adventure  ...  Mystery  Action  \
0      0.0   0.0       NaN        NaN        NaN  ...      NaN     NaN
1    169.0   0.0       NaN        NaN        NaN  ...      NaN     NaN
2    135.0   0.0       NaN        NaN        NaN  ...      NaN     NaN
3    119.0   0.0      77.0        NaN        NaN  ...      NaN     NaN
4    244.0   0.0      45.0        NaN        NaN  ...      NaN     NaN
..     ...   ...       ...        ...        ...  ...      ...     ...
238   65.0   0.0       NaN        NaN        NaN  ...      NaN     NaN
239  300.0   0.0       NaN        NaN        NaN  ...      NaN     NaN
240  104.0   0.0      44.0        NaN        NaN  ...      NaN     NaN
241  563.0   0.0      76.0        NaN        NaN  ...      NaN     NaN
242  537.0   0.0       NaN        NaN      208.0  ...      NaN     NaN

     Family  Romance  Crime  Short  Biography  Horror  Adult  Sport
0       NaN    539.0    NaN    NaN        NaN     NaN    NaN    NaN
1       NaN    136.0    NaN    NaN        NaN     NaN    NaN    NaN
2       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
3       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
4       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
..      ...      ...    ...    ...        ...     ...    ...    ...
238     NaN     35.0    NaN    NaN        NaN     NaN    NaN    NaN
239     NaN     25.0    NaN    NaN        NaN     NaN    NaN    NaN
240     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
241     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
242     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN

[243 rows x 25 columns]
           Actrices                      Premios  \
0       Carmen Ruiz     6 premios y 1 nominación
1     Silvia Alonso                          NaN
2      María Hervás               2 nominaciones
3         Ruth Díaz   6 premios y 5 nominaciones
4      Ingrid Rubio  9 premios y 10 nominaciones
..              ...                          ...
238    Laura Toledo                          NaN
239  Yolanthe Cabau                     1 premio
240  Alicia Sánchez                 1 nominación
241    Mariona Tena                          NaN
242      Carla Díaz                          NaN

                                                  Foto     Rango_Edad  Comedy  \
0    https://m.media-amazon.com/images/M/MV5BMTg2MT...   Adulto medio   752.0
1    https://m.media-amazon.com/images/M/MV5BMjY0MT...   Adulto Joven     0.0
2    https://m.media-amazon.com/images/M/MV5BMjNhZW...   Adulto Joven   269.0
3    https://m.media-amazon.com/images/M/MV5BM2U4MW...   Adulto medio     0.0
4    https://m.media-amazon.com/images/M/MV5BYjViNW...   Adulto medio     0.0
..                                                 ...            ...     ...
238  https://m.media-amazon.com/images/S/sash/9FayP...   Adulto medio     0.0
239  https://m.media-amazon.com/images/M/MV5BNDJkMj...   Adulto Joven     0.0
240  https://m.media-amazon.com/images/M/MV5BOWVkYm...  Adulto maduro     0.0
241  https://m.media-amazon.com/images/M/MV5BY2MxNm...   Adulto Joven     0.0
242  https://m.media-amazon.com/images/M/MV5BMTJmY2...          Joven     0.0

     Drama  News  Thriller  Game-Show  Adventure  ...  Mystery  Action  \
0      0.0   0.0       0.0        NaN        NaN  ...      NaN     NaN
1    169.0   0.0       0.0        NaN        NaN  ...      NaN     NaN
2    135.0   0.0       0.0        NaN        NaN  ...      NaN     NaN
3    119.0   0.0      77.0        NaN        NaN  ...      NaN     NaN
4    244.0   0.0      45.0        NaN        NaN  ...      NaN     NaN
..     ...   ...       ...        ...        ...  ...      ...     ...
238   65.0   0.0       0.0        NaN        NaN  ...      NaN     NaN
239  300.0   0.0       0.0        NaN        NaN  ...      NaN     NaN
240  104.0   0.0      44.0        NaN        NaN  ...      NaN     NaN
241  563.0   0.0      76.0        NaN        NaN  ...      NaN     NaN
242  537.0   0.0       0.0        NaN      208.0  ...      NaN     NaN

     Family  Romance  Crime  Short  Biography  Horror  Adult  Sport
0       NaN    539.0    NaN    NaN        NaN     NaN    NaN    NaN
1       NaN    136.0    NaN    NaN        NaN     NaN    NaN    NaN
2       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
3       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
4       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
..      ...      ...    ...    ...        ...     ...    ...    ...
238     NaN     35.0    NaN    NaN        NaN     NaN    NaN    NaN
239     NaN     25.0    NaN    NaN        NaN     NaN    NaN    NaN
240     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
241     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
242     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN

[243 rows x 25 columns]
           Actrices                      Premios  \
0       Carmen Ruiz     6 premios y 1 nominación
1     Silvia Alonso                          NaN
2      María Hervás               2 nominaciones
3         Ruth Díaz   6 premios y 5 nominaciones
4      Ingrid Rubio  9 premios y 10 nominaciones
..              ...                          ...
238    Laura Toledo                          NaN
239  Yolanthe Cabau                     1 premio
240  Alicia Sánchez                 1 nominación
241    Mariona Tena                          NaN
242      Carla Díaz                          NaN

                                                  Foto     Rango_Edad  Comedy  \
0    https://m.media-amazon.com/images/M/MV5BMTg2MT...   Adulto medio   752.0
1    https://m.media-amazon.com/images/M/MV5BMjY0MT...   Adulto Joven     0.0
2    https://m.media-amazon.com/images/M/MV5BMjNhZW...   Adulto Joven   269.0
3    https://m.media-amazon.com/images/M/MV5BM2U4MW...   Adulto medio     0.0
4    https://m.media-amazon.com/images/M/MV5BYjViNW...   Adulto medio     0.0
..                                                 ...            ...     ...
238  https://m.media-amazon.com/images/S/sash/9FayP...   Adulto medio     0.0
239  https://m.media-amazon.com/images/M/MV5BNDJkMj...   Adulto Joven     0.0
240  https://m.media-amazon.com/images/M/MV5BOWVkYm...  Adulto maduro     0.0
241  https://m.media-amazon.com/images/M/MV5BY2MxNm...   Adulto Joven     0.0
242  https://m.media-amazon.com/images/M/MV5BMTJmY2...          Joven     0.0

     Drama  News  Thriller  Game-Show  Adventure  ...  Mystery  Action  \
0      0.0   0.0       0.0        0.0        NaN  ...      NaN     NaN
1    169.0   0.0       0.0        0.0        NaN  ...      NaN     NaN
2    135.0   0.0       0.0        0.0        NaN  ...      NaN     NaN
3    119.0   0.0      77.0        0.0        NaN  ...      NaN     NaN
4    244.0   0.0      45.0        0.0        NaN  ...      NaN     NaN
..     ...   ...       ...        ...        ...  ...      ...     ...
238   65.0   0.0       0.0        0.0        NaN  ...      NaN     NaN
239  300.0   0.0       0.0        0.0        NaN  ...      NaN     NaN
240  104.0   0.0      44.0        0.0        NaN  ...      NaN     NaN
241  563.0   0.0      76.0        0.0        NaN  ...      NaN     NaN
242  537.0   0.0       0.0        0.0      208.0  ...      NaN     NaN

     Family  Romance  Crime  Short  Biography  Horror  Adult  Sport
0       NaN    539.0    NaN    NaN        NaN     NaN    NaN    NaN
1       NaN    136.0    NaN    NaN        NaN     NaN    NaN    NaN
2       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
3       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
4       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
..      ...      ...    ...    ...        ...     ...    ...    ...
238     NaN     35.0    NaN    NaN        NaN     NaN    NaN    NaN
239     NaN     25.0    NaN    NaN        NaN     NaN    NaN    NaN
240     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
241     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
242     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN

[243 rows x 25 columns]
           Actrices                      Premios  \
0       Carmen Ruiz     6 premios y 1 nominación
1     Silvia Alonso                          NaN
2      María Hervás               2 nominaciones
3         Ruth Díaz   6 premios y 5 nominaciones
4      Ingrid Rubio  9 premios y 10 nominaciones
..              ...                          ...
238    Laura Toledo                          NaN
239  Yolanthe Cabau                     1 premio
240  Alicia Sánchez                 1 nominación
241    Mariona Tena                          NaN
242      Carla Díaz                          NaN

                                                  Foto     Rango_Edad  Comedy  \
0    https://m.media-amazon.com/images/M/MV5BMTg2MT...   Adulto medio   752.0
1    https://m.media-amazon.com/images/M/MV5BMjY0MT...   Adulto Joven     0.0
2    https://m.media-amazon.com/images/M/MV5BMjNhZW...   Adulto Joven   269.0
3    https://m.media-amazon.com/images/M/MV5BM2U4MW...   Adulto medio     0.0
4    https://m.media-amazon.com/images/M/MV5BYjViNW...   Adulto medio     0.0
..                                                 ...            ...     ...
238  https://m.media-amazon.com/images/S/sash/9FayP...   Adulto medio     0.0
239  https://m.media-amazon.com/images/M/MV5BNDJkMj...   Adulto Joven     0.0
240  https://m.media-amazon.com/images/M/MV5BOWVkYm...  Adulto maduro     0.0
241  https://m.media-amazon.com/images/M/MV5BY2MxNm...   Adulto Joven     0.0
242  https://m.media-amazon.com/images/M/MV5BMTJmY2...          Joven     0.0

     Drama  News  Thriller  Game-Show  Adventure  ...  Mystery  Action  \
0      0.0   0.0       0.0        0.0        0.0  ...      NaN     NaN
1    169.0   0.0       0.0        0.0        0.0  ...      NaN     NaN
2    135.0   0.0       0.0        0.0        0.0  ...      NaN     NaN
3    119.0   0.0      77.0        0.0        0.0  ...      NaN     NaN
4    244.0   0.0      45.0        0.0        0.0  ...      NaN     NaN
..     ...   ...       ...        ...        ...  ...      ...     ...
238   65.0   0.0       0.0        0.0        0.0  ...      NaN     NaN
239  300.0   0.0       0.0        0.0        0.0  ...      NaN     NaN
240  104.0   0.0      44.0        0.0        0.0  ...      NaN     NaN
241  563.0   0.0      76.0        0.0        0.0  ...      NaN     NaN
242  537.0   0.0       0.0        0.0      208.0  ...      NaN     NaN

     Family  Romance  Crime  Short  Biography  Horror  Adult  Sport
0       NaN    539.0    NaN    NaN        NaN     NaN    NaN    NaN
1       NaN    136.0    NaN    NaN        NaN     NaN    NaN    NaN
2       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
3       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
4       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
..      ...      ...    ...    ...        ...     ...    ...    ...
238     NaN     35.0    NaN    NaN        NaN     NaN    NaN    NaN
239     NaN     25.0    NaN    NaN        NaN     NaN    NaN    NaN
240     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
241     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
242     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN

[243 rows x 25 columns]
           Actrices                      Premios  \
0       Carmen Ruiz     6 premios y 1 nominación
1     Silvia Alonso                          NaN
2      María Hervás               2 nominaciones
3         Ruth Díaz   6 premios y 5 nominaciones
4      Ingrid Rubio  9 premios y 10 nominaciones
..              ...                          ...
238    Laura Toledo                          NaN
239  Yolanthe Cabau                     1 premio
240  Alicia Sánchez                 1 nominación
241    Mariona Tena                          NaN
242      Carla Díaz                          NaN


           Actrices                      Premios  \
0       Carmen Ruiz     6 premios y 1 nominación
1     Silvia Alonso                          NaN
2      María Hervás               2 nominaciones
3         Ruth Díaz   6 premios y 5 nominaciones
4      Ingrid Rubio  9 premios y 10 nominaciones
..              ...                          ...
238    Laura Toledo                          NaN
239  Yolanthe Cabau                     1 premio
240  Alicia Sánchez                 1 nominación
241    Mariona Tena                          NaN
242      Carla Díaz                          NaN

                                                  Foto     Rango_Edad  Comedy  \
0    https://m.media-amazon.com/images/M/MV5BMTg2MT...   Adulto medio   752.0
1    https://m.media-amazon.com/images/M/MV5BMjY0MT...   Adulto Joven     0.0
2    https://m.media-amazon.com/images/M/MV5BMjNhZW...   Adulto Joven   269.0
3    https://m.media-amazon.com/images/M/MV5BM2U4MW...   Adulto medio     0.0
4    https://m.media-amazon.com/images/M/MV5BYjViNW...   Adulto medio     0.0
..                                                 ...            ...     ...
238  https://m.media-amazon.com/images/S/sash/9FayP...   Adulto medio     0.0
239  https://m.media-amazon.com/images/M/MV5BNDJkMj...   Adulto Joven     0.0
240  https://m.media-amazon.com/images/M/MV5BOWVkYm...  Adulto maduro     0.0
241  https://m.media-amazon.com/images/M/MV5BY2MxNm...   Adulto Joven     0.0
242  https://m.media-amazon.com/images/M/MV5BMTJmY2...          Joven     0.0

     Drama  News  Thriller  Game-Show  Adventure  ...  Mystery  Action  \
0      0.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
1    169.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
2    135.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
3    119.0   0.0      77.0        0.0        0.0  ...      0.0     0.0
4    244.0   0.0      45.0        0.0        0.0  ...      0.0     0.0
..     ...   ...       ...        ...        ...  ...      ...     ...
238   65.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
239  300.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
240  104.0   0.0      44.0        0.0        0.0  ...      0.0     0.0
241  563.0   0.0      76.0        0.0        0.0  ...      0.0     0.0
242  537.0   0.0       0.0        0.0      208.0  ...      0.0     0.0

     Family  Romance  Crime  Short  Biography  Horror  Adult  Sport
0       NaN    539.0    NaN    NaN        NaN     NaN    NaN    NaN
1       NaN    136.0    NaN    NaN        NaN     NaN    NaN    NaN
2       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
3       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
4       NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
..      ...      ...    ...    ...        ...     ...    ...    ...
238     NaN     35.0    NaN    NaN        NaN     NaN    NaN    NaN
239     NaN     25.0    NaN    NaN        NaN     NaN    NaN    NaN
240     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
241     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN
242     NaN      NaN    NaN    NaN        NaN     NaN    NaN    NaN

[243 rows x 25 columns]
           Actrices                      Premios  \
0       Carmen Ruiz     6 premios y 1 nominación
1     Silvia Alonso                          NaN
2      María Hervás               2 nominaciones
3         Ruth Díaz   6 premios y 5 nominaciones
4      Ingrid Rubio  9 premios y 10 nominaciones
..              ...                          ...
238    Laura Toledo                          NaN
239  Yolanthe Cabau                     1 premio
240  Alicia Sánchez                 1 nominación
241    Mariona Tena                          NaN
242      Carla Díaz                          NaN

                                                  Foto     Rango_Edad  Comedy  \
0    https://m.media-amazon.com/images/M/MV5BMTg2MT...   Adulto medio   752.0
1    https://m.media-amazon.com/images/M/MV5BMjY0MT...   Adulto Joven     0.0
2    https://m.media-amazon.com/images/M/MV5BMjNhZW...   Adulto Joven   269.0
3    https://m.media-amazon.com/images/M/MV5BM2U4MW...   Adulto medio     0.0
4    https://m.media-amazon.com/images/M/MV5BYjViNW...   Adulto medio     0.0
..                                                 ...            ...     ...
238  https://m.media-amazon.com/images/S/sash/9FayP...   Adulto medio     0.0
239  https://m.media-amazon.com/images/M/MV5BNDJkMj...   Adulto Joven     0.0
240  https://m.media-amazon.com/images/M/MV5BOWVkYm...  Adulto maduro     0.0
241  https://m.media-amazon.com/images/M/MV5BY2MxNm...   Adulto Joven     0.0
242  https://m.media-amazon.com/images/M/MV5BMTJmY2...          Joven     0.0

     Drama  News  Thriller  Game-Show  Adventure  ...  Mystery  Action  \
0      0.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
1    169.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
2    135.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
3    119.0   0.0      77.0        0.0        0.0  ...      0.0     0.0
4    244.0   0.0      45.0        0.0        0.0  ...      0.0     0.0
..     ...   ...       ...        ...        ...  ...      ...     ...
238   65.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
239  300.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
240  104.0   0.0      44.0        0.0        0.0  ...      0.0     0.0
241  563.0   0.0      76.0        0.0        0.0  ...      0.0     0.0
242  537.0   0.0       0.0        0.0      208.0  ...      0.0     0.0

     Family  Romance  Crime  Short  Biography  Horror  Adult  Sport
0       0.0    539.0    NaN    NaN        NaN     NaN    NaN    NaN
1       0.0    136.0    NaN    NaN        NaN     NaN    NaN    NaN
2       0.0      NaN    NaN    NaN        NaN     NaN    NaN    NaN
3       0.0      NaN    NaN    NaN        NaN     NaN    NaN    NaN
4       0.0      NaN    NaN    NaN        NaN     NaN    NaN    NaN
..      ...      ...    ...    ...        ...     ...    ...    ...
238     0.0     35.0    NaN    NaN        NaN     NaN    NaN    NaN
239     0.0     25.0    NaN    NaN        NaN     NaN    NaN    NaN
240     0.0      NaN    NaN    NaN        NaN     NaN    NaN    NaN
241     0.0      NaN    NaN    NaN        NaN     NaN    NaN    NaN
242     0.0      NaN    NaN    NaN        NaN     NaN    NaN    NaN

[243 rows x 25 columns]
           Actrices                      Premios  \
0       Carmen Ruiz     6 premios y 1 nominación
1     Silvia Alonso                          NaN
2      María Hervás               2 nominaciones
3         Ruth Díaz   6 premios y 5 nominaciones
4      Ingrid Rubio  9 premios y 10 nominaciones
..              ...                          ...
238    Laura Toledo                          NaN
239  Yolanthe Cabau                     1 premio
240  Alicia Sánchez                 1 nominación
241    Mariona Tena                          NaN
242      Carla Díaz                          NaN

                                                  Foto     Rango_Edad  Comedy  \
0    https://m.media-amazon.com/images/M/MV5BMTg2MT...   Adulto medio   752.0
1    https://m.media-amazon.com/images/M/MV5BMjY0MT...   Adulto Joven     0.0
2    https://m.media-amazon.com/images/M/MV5BMjNhZW...   Adulto Joven   269.0
3    https://m.media-amazon.com/images/M/MV5BM2U4MW...   Adulto medio     0.0
4    https://m.media-amazon.com/images/M/MV5BYjViNW...   Adulto medio     0.0
..                                                 ...            ...     ...
238  https://m.media-amazon.com/images/S/sash/9FayP...   Adulto medio     0.0
239  https://m.media-amazon.com/images/M/MV5BNDJkMj...   Adulto Joven     0.0
240  https://m.media-amazon.com/images/M/MV5BOWVkYm...  Adulto maduro     0.0
241  https://m.media-amazon.com/images/M/MV5BY2MxNm...   Adulto Joven     0.0
242  https://m.media-amazon.com/images/M/MV5BMTJmY2...          Joven     0.0

     Drama  News  Thriller  Game-Show  Adventure  ...  Mystery  Action  \
0      0.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
1    169.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
2    135.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
3    119.0   0.0      77.0        0.0        0.0  ...      0.0     0.0
4    244.0   0.0      45.0        0.0        0.0  ...      0.0     0.0
..     ...   ...       ...        ...        ...  ...      ...     ...
238   65.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
239  300.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
240  104.0   0.0      44.0        0.0        0.0  ...      0.0     0.0
241  563.0   0.0      76.0        0.0        0.0  ...      0.0     0.0
242  537.0   0.0       0.0        0.0      208.0  ...      0.0     0.0

     Family  Romance  Crime  Short  Biography  Horror  Adult  Sport
0       0.0    539.0    NaN    NaN        NaN     NaN    NaN    NaN
1       0.0    136.0    NaN    NaN        NaN     NaN    NaN    NaN
2       0.0      0.0    NaN    NaN        NaN     NaN    NaN    NaN
3       0.0      0.0    NaN    NaN        NaN     NaN    NaN    NaN
4       0.0      0.0    NaN    NaN        NaN     NaN    NaN    NaN
..      ...      ...    ...    ...        ...     ...    ...    ...
238     0.0     35.0    NaN    NaN        NaN     NaN    NaN    NaN
239     0.0     25.0    NaN    NaN        NaN     NaN    NaN    NaN
240     0.0      0.0    NaN    NaN        NaN     NaN    NaN    NaN
241     0.0      0.0    NaN    NaN        NaN     NaN    NaN    NaN
242     0.0      0.0    NaN    NaN        NaN     NaN    NaN    NaN

[243 rows x 25 columns]
           Actrices                      Premios  \
0       Carmen Ruiz     6 premios y 1 nominación
1     Silvia Alonso                          NaN
2      María Hervás               2 nominaciones
3         Ruth Díaz   6 premios y 5 nominaciones
4      Ingrid Rubio  9 premios y 10 nominaciones
..              ...                          ...
238    Laura Toledo                          NaN
239  Yolanthe Cabau                     1 premio
240  Alicia Sánchez                 1 nominación
241    Mariona Tena                          NaN
242      Carla Díaz                          NaN

                                                  Foto     Rango_Edad  Comedy  \
0    https://m.media-amazon.com/images/M/MV5BMTg2MT...   Adulto medio   752.0
1    https://m.media-amazon.com/images/M/MV5BMjY0MT...   Adulto Joven     0.0
2    https://m.media-amazon.com/images/M/MV5BMjNhZW...   Adulto Joven   269.0
3    https://m.media-amazon.com/images/M/MV5BM2U4MW...   Adulto medio     0.0
4    https://m.media-amazon.com/images/M/MV5BYjViNW...   Adulto medio     0.0
..                                                 ...            ...     ...
238  https://m.media-amazon.com/images/S/sash/9FayP...   Adulto medio     0.0
239  https://m.media-amazon.com/images/M/MV5BNDJkMj...   Adulto Joven     0.0
240  https://m.media-amazon.com/images/M/MV5BOWVkYm...  Adulto maduro     0.0
241  https://m.media-amazon.com/images/M/MV5BY2MxNm...   Adulto Joven     0.0
242  https://m.media-amazon.com/images/M/MV5BMTJmY2...          Joven     0.0

     Drama  News  Thriller  Game-Show  Adventure  ...  Mystery  Action  \
0      0.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
1    169.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
2    135.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
3    119.0   0.0      77.0        0.0        0.0  ...      0.0     0.0
4    244.0   0.0      45.0        0.0        0.0  ...      0.0     0.0
..     ...   ...       ...        ...        ...  ...      ...     ...
238   65.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
239  300.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
240  104.0   0.0      44.0        0.0        0.0  ...      0.0     0.0
241  563.0   0.0      76.0        0.0        0.0  ...      0.0     0.0
242  537.0   0.0       0.0        0.0      208.0  ...      0.0     0.0

     Family  Romance  Crime  Short  Biography  Horror  Adult  Sport
0       0.0    539.0    0.0    NaN        NaN     NaN    NaN    NaN
1       0.0    136.0    0.0    NaN        NaN     NaN    NaN    NaN
2       0.0      0.0    0.0    NaN        NaN     NaN    NaN    NaN
3       0.0      0.0    0.0    NaN        NaN     NaN    NaN    NaN
4       0.0      0.0    0.0    NaN        NaN     NaN    NaN    NaN
..      ...      ...    ...    ...        ...     ...    ...    ...
238     0.0     35.0    0.0    NaN        NaN     NaN    NaN    NaN
239     0.0     25.0    0.0    NaN        NaN     NaN    NaN    NaN
240     0.0      0.0    0.0    NaN        NaN     NaN    NaN    NaN
241     0.0      0.0    0.0    NaN        NaN     NaN    NaN    NaN
242     0.0      0.0    0.0    NaN        NaN     NaN    NaN    NaN

[243 rows x 25 columns]
           Actrices                      Premios  \
0       Carmen Ruiz     6 premios y 1 nominación
1     Silvia Alonso                          NaN
2      María Hervás               2 nominaciones
3         Ruth Díaz   6 premios y 5 nominaciones
4      Ingrid Rubio  9 premios y 10 nominaciones
..              ...                          ...
238    Laura Toledo                          NaN
239  Yolanthe Cabau                     1 premio
240  Alicia Sánchez                 1 nominación
241    Mariona Tena                          NaN
242      Carla Díaz                          NaN

                                                  Foto     Rango_Edad  Comedy  \
0    https://m.media-amazon.com/images/M/MV5BMTg2MT...   Adulto medio   752.0
1    https://m.media-amazon.com/images/M/MV5BMjY0MT...   Adulto Joven     0.0
2    https://m.media-amazon.com/images/M/MV5BMjNhZW...   Adulto Joven   269.0
3    https://m.media-amazon.com/images/M/MV5BM2U4MW...   Adulto medio     0.0
4    https://m.media-amazon.com/images/M/MV5BYjViNW...   Adulto medio     0.0
..                                                 ...            ...     ...
238  https://m.media-amazon.com/images/S/sash/9FayP...   Adulto medio     0.0
239  https://m.media-amazon.com/images/M/MV5BNDJkMj...   Adulto Joven     0.0
240  https://m.media-amazon.com/images/M/MV5BOWVkYm...  Adulto maduro     0.0
241  https://m.media-amazon.com/images/M/MV5BY2MxNm...   Adulto Joven     0.0
242  https://m.media-amazon.com/images/M/MV5BMTJmY2...          Joven     0.0

     Drama  News  Thriller  Game-Show  Adventure  ...  Mystery  Action  \
0      0.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
1    169.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
2    135.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
3    119.0   0.0      77.0        0.0        0.0  ...      0.0     0.0
4    244.0   0.0      45.0        0.0        0.0  ...      0.0     0.0
..     ...   ...       ...        ...        ...  ...      ...     ...
238   65.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
239  300.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
240  104.0   0.0      44.0        0.0        0.0  ...      0.0     0.0
241  563.0   0.0      76.0        0.0        0.0  ...      0.0     0.0
242  537.0   0.0       0.0        0.0      208.0  ...      0.0     0.0

     Family  Romance  Crime  Short  Biography  Horror  Adult  Sport
0       0.0    539.0    0.0    0.0        NaN     NaN    NaN    NaN
1       0.0    136.0    0.0    0.0        NaN     NaN    NaN    NaN
2       0.0      0.0    0.0    0.0        NaN     NaN    NaN    NaN
3       0.0      0.0    0.0    0.0        NaN     NaN    NaN    NaN
4       0.0      0.0    0.0    0.0        NaN     NaN    NaN    NaN
..      ...      ...    ...    ...        ...     ...    ...    ...
238     0.0     35.0    0.0    0.0        NaN     NaN    NaN    NaN
239     0.0     25.0    0.0    0.0        NaN     NaN    NaN    NaN
240     0.0      0.0    0.0    0.0        NaN     NaN    NaN    NaN
241     0.0      0.0    0.0    0.0        NaN     NaN    NaN    NaN
242     0.0      0.0    0.0    0.0        NaN     NaN    NaN    NaN

[243 rows x 25 columns]
           Actrices                      Premios  \
0       Carmen Ruiz     6 premios y 1 nominación
1     Silvia Alonso                          NaN
2      María Hervás               2 nominaciones
3         Ruth Díaz   6 premios y 5 nominaciones
4      Ingrid Rubio  9 premios y 10 nominaciones
..              ...                          ...
238    Laura Toledo                          NaN
239  Yolanthe Cabau                     1 premio
240  Alicia Sánchez                 1 nominación
241    Mariona Tena                          NaN
242      Carla Díaz                          NaN

                                                  Foto     Rango_Edad  Comedy  \
0    https://m.media-amazon.com/images/M/MV5BMTg2MT...   Adulto medio   752.0
1    https://m.media-amazon.com/images/M/MV5BMjY0MT...   Adulto Joven     0.0
2    https://m.media-amazon.com/images/M/MV5BMjNhZW...   Adulto Joven   269.0
3    https://m.media-amazon.com/images/M/MV5BM2U4MW...   Adulto medio     0.0
4    https://m.media-amazon.com/images/M/MV5BYjViNW...   Adulto medio     0.0
..                                                 ...            ...     ...
238  https://m.media-amazon.com/images/S/sash/9FayP...   Adulto medio     0.0
239  https://m.media-amazon.com/images/M/MV5BNDJkMj...   Adulto Joven     0.0
240  https://m.media-amazon.com/images/M/MV5BOWVkYm...  Adulto maduro     0.0
241  https://m.media-amazon.com/images/M/MV5BY2MxNm...   Adulto Joven     0.0
242  https://m.media-amazon.com/images/M/MV5BMTJmY2...          Joven     0.0

     Drama  News  Thriller  Game-Show  Adventure  ...  Mystery  Action  \
0      0.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
1    169.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
2    135.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
3    119.0   0.0      77.0        0.0        0.0  ...      0.0     0.0
4    244.0   0.0      45.0        0.0        0.0  ...      0.0     0.0
..     ...   ...       ...        ...        ...  ...      ...     ...
238   65.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
239  300.0   0.0       0.0        0.0        0.0  ...      0.0     0.0
240  104.0   0.0      44.0        0.0        0.0  ...      0.0     0.0
241  563.0   0.0      76.0        0.0        0.0  ...      0.0     0.0
242  537.0   0.0       0.0        0.0      208.0  ...      0.0     0.0

     Family  Romance  Crime  Short  Biography  Horror  Adult  Sport
0       0.0    539.0    0.0    0.0        0.0     NaN    NaN    NaN
1       0.0    136.0    0.0    0.0        0.0     NaN    NaN    NaN
2       0.0      0.0    0.0    0.0        0.0     NaN    NaN    NaN
3       0.0      0.0    0.0    0.0        0.0     NaN    NaN    NaN
4       0.0      0.0    0.0    0.0        0.0     NaN    NaN    NaN
..      ...      ...    ...    ...        ...     ...    ...    ...
238     0.0     35.0    0.0    0.0        0.0     NaN    NaN    NaN
239     0.0     25.0    0.0    0.0        0.0     NaN    NaN    NaN
240     0.0      0.0    0.0    0.0        0.0     NaN    NaN    NaN
241     0.0      0.0    0.0    0.0        0.0     NaN    NaN    NaN
242     0.0      0.0    0.0    0.0        0.0     NaN    NaN    NaN

[243 rows x 25 columns]
           Actrices                      Premios  \
0       Carmen Ruiz     6 premios y 1 nominación
1     Silvia Alonso                          NaN
2      María Hervás               2 nominaciones
3         Ruth Díaz   6 premios y 5 nominaciones
4      Ingrid Rubio  9 premios y 10 nominaciones
..              ...                          ...
238    Laura Toledo                          NaN
239  Yolanthe Cabau                     1 premio
240  Alicia Sánchez                 1 nominación
241    Mariona Tena                          NaN
242      Carla Díaz                          NaN


In [43]:
#funcion prem_nom
actrices= prem_nom(actrices, actrices.Premios)

In [44]:
actrices['Premios']= actrices.Premios.astype(float)
actrices['Nominaciones']= actrices.Nominaciones.astype(float)

In [45]:
neworder = ['Actrices','Premios','Nominaciones','Rango_Edad','Drama', 'Comedy', 'Talk-Show', 'Thriller', 'Adventure', 'News', 'Music', 'Action', 'Family', 'Biography', 'Game-Show', 'Short', 'Romance', 'Sci-Fi', 'Musical', 'Reality-Tv', 'Horror', 'Adult', 'Sport', 'Mystery', 'Crime', 'Foto']
actrices= actrices.reindex(columns=neworder)
actrices.head()

,Actrices,Premios,Nominaciones,Rango_Edad,Drama,Comedy,Talk-Show,Thriller,Adventure,News,...,Romance,Sci-Fi,Musical,Reality-Tv,Horror,Adult,Sport,Mystery,Crime,Foto
0,Carmen Ruiz,6.0,1.0,Adulto medio,0.0,752.0,0.0,0.0,0.0,0.0,...,539.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,https://m.media-amazon.com/images/M/MV5BMTg2MT...
1,Silvia Alonso,0.0,0.0,Adulto Joven,169.0,0.0,0.0,0.0,0.0,0.0,...,136.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,https://m.media-amazon.com/images/M/MV5BMjY0MT...
2,María Hervás,0.0,0.0,Adulto Joven,135.0,269.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,https://m.media-amazon.com/images/M/MV5BMjNhZW...
3,Ruth Díaz,6.0,5.0,Adulto medio,119.0,0.0,0.0,77.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,https://m.media-amazon.com/images/M/MV5BM2U4MW...
4,Ingrid Rubio,9.0,10.0,Adulto medio,244.0,0.0,0.0,45.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,https://m.media-amazon.com/images/M/MV5BYjViNW...

In [172]:
actrices.to_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\Actrices_listado.csv', index=False)