In [1]:
import pandas as pd
import numpy as np
import requests as req
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import time
from IPython.display import Image

In [2]:
path= ChromeDriverManager().install()
driver= webdriver.Chrome(path)

C:\Users\USER\AppData\Local\Temp\ipykernel_18840\3336849061.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(path)

In [3]:
url='https://www.imdb.com/list/ls041877660/'
driver.get(url)

In [4]:
actrices=[]      #coger el path que engloba los 100 elementos de cada pagina
urls=[]
fotos=[]
for i in range(4):
    paginas= driver.find_elements('xpath', '//h3[@class="lister-item-header"]/a')
    
    for nombre in paginas:
        actrices.append(nombre.text)
        
    direcciones= driver.find_elements('xpath', '//h3[@class="lister-item-header"]/a')
    for direccion in direcciones:
        urls.append(direccion.get_attribute('href'))
        
    imagenes= driver.find_elements('xpath', '//*[@id="main"]/div/div[2]/div[3]/div/div[1]/a/img')
    for imagen in imagenes:                   
        fotos.append(imagen.get_attribute('src'))  #hay actrices sin foto pero si tienen url es una foto avatar
    
    try:
        driver.find_element('xpath', '//a[@class="flat-button lister-page-next next-page"]').click()
        time.sleep(7)
    except:
        break

In [5]:
len(fotos)

340

In [6]:
display(Image(url=fotos[200]))

In [7]:
print(actrices[-1])
print(urls[-1])

Carla Díaz
https://www.imdb.com/name/nm3718425?ref_=nmls_hd

In [8]:
columnas= ['actrices', 'urls', 'fotos']
links=pd.DataFrame(list(zip(actrices, urls, fotos)), columns=columnas)
links.head()

,actrices,urls,fotos
0,Alicia Príncipe,https://www.imdb.com/name/nm0699575?ref_=nmls_hd,https://m.media-amazon.com/images/S/sash/9FayP...
1,Pilar Velázquez,https://www.imdb.com/name/nm0892826?ref_=nmls_hd,https://m.media-amazon.com/images/M/MV5BOThkYz...
2,Nieves Navarro,https://www.imdb.com/name/nm0622980?ref_=nmls_hd,https://m.media-amazon.com/images/M/MV5BYTViMW...
3,Carmen Ruiz,https://www.imdb.com/name/nm0749715?ref_=nmls_hd,https://m.media-amazon.com/images/M/MV5BMTg2MT...
4,Silvia Alonso,https://www.imdb.com/name/nm3435229?ref_=nmls_hd,https://m.media-amazon.com/images/M/MV5BMjY0MT...

In [9]:
links.to_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\CSV\links.csv', index=False)

In [10]:
nombres=[]    #aqui los paths son de solo la actriz en cuestion
urls2=[]
premios=[]
generos1=[]
generos2=[]

for url in urls:  #pasa por cada link y abrelo
    driver.get(url)
    urls2.append(url) #guarda el url
    
    nombre= driver.find_element('xpath', '//h1[@data-testid="hero__pageTitle"]/span[1]').text
    nombres.append(nombre) #encuentra y guarda el nombre en texto                        
                              
    
    try:
        premio=driver.find_element('xpath', '//li[@data-testid="award_information"]/div').text
    except:     #encuentra y guarda el nombre excepto si está vacío
        premio= ''    
    premios.append(premio)  #guarda premios
        
    driver.find_element('xpath', '//button[@data-testid="hero-subnav-bar-all-topics-button"]').click()
    time.sleep(2)   #abre ventana
    driver.find_element('xpath', '//a[text()="por género"]').click()
    time.sleep(2)  #abre ventana generos
    
    try:
        cat1=driver.find_element('xpath', '//div[@class="faceter-fieldset genres"]/fieldset/span[1]').text
    except:     
        cat1= ''
    
    try:
        cat2=driver.find_element('xpath', '//div[@class="faceter-fieldset genres"]/fieldset/span[2]').text
    except:
        cat2= ''
    generos1.append(cat1)  #guarda el primero y el segundo
    generos2.append(cat2)

In [11]:
columnas= ['nombres', 'premios', 'generos1', 'generos2', 'urls']
df=pd.DataFrame(list(zip(nombres, premios, generos1, generos2, urls2)), columns=columnas)
df.tail()

,nombres,premios,generos1,generos2,urls
335,Mónica Randall,8 premios y 3 nominaciones,Comedy (160),Drama (132),https://www.imdb.com/name/nm0709654?ref_=nmls_hd
336,Chus Lampreave,4 premios y 13 nominaciones,Talk-Show (171),Comedy (166),https://www.imdb.com/name/nm0483942?ref_=nmls_hd
337,Alicia Sánchez,1 nominación,Drama (104),Thriller (44),https://www.imdb.com/name/nm0760890?ref_=nmls_hd
338,Mariona Tena,,Drama (563),Thriller (76),https://www.imdb.com/name/nm2826012?ref_=nmls_hd
339,Carla Díaz,,Drama (537),Adventure (208),https://www.imdb.com/name/nm3718425?ref_=nmls_hd

In [14]:
df.to_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\CSV\actricesgenero.csv', index=False)

In [15]:
tabla1=pd.read_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\CSV\actricesgenero.csv')
tabla1

,nombres,premios,generos1,generos2,urls
0,Alicia Príncipe,NaN,Comedy (13),Drama (11),https://www.imdb.com/name/nm0699575?ref_=nmls_hd
1,Pilar Velázquez,NaN,Comedy (140),Drama (135),https://www.imdb.com/name/nm0892826?ref_=nmls_hd
2,Nieves Navarro,NaN,Comedy (17),Drama (9),https://www.imdb.com/name/nm0622980?ref_=nmls_hd
3,Carmen Ruiz,6 premios y 1 nominación,Comedy (752),Romance (539),https://www.imdb.com/name/nm0749715?ref_=nmls_hd
4,Silvia Alonso,NaN,Drama (169),Romance (136),https://www.imdb.com/name/nm3435229?ref_=nmls_hd
...,...,...,...,...,...
335,Mónica Randall,8 premios y 3 nominaciones,Comedy (160),Drama (132),https://www.imdb.com/name/nm0709654?ref_=nmls_hd
336,Chus Lampreave,4 premios y 13 nominaciones,Talk-Show (171),Comedy (166),https://www.imdb.com/name/nm0483942?ref_=nmls_hd
337,Alicia Sánchez,1 nominación,Drama (104),Thriller (44),https://www.imdb.com/name/nm0760890?ref_=nmls_hd
338,Mariona Tena,NaN,Drama (563),Thriller (76),https://www.imdb.com/name/nm2826012?ref_=nmls_hd
339,Carla Díaz,NaN,Drama (537),Adventure (208),https://www.imdb.com/name/nm3718425?ref_=nmls_hd

In [16]:
tabla2= tabla1.rename(columns={'nombres':'actrices'})
tabla2

,actrices,premios,generos1,generos2,urls
0,Alicia Príncipe,NaN,Comedy (13),Drama (11),https://www.imdb.com/name/nm0699575?ref_=nmls_hd
1,Pilar Velázquez,NaN,Comedy (140),Drama (135),https://www.imdb.com/name/nm0892826?ref_=nmls_hd
2,Nieves Navarro,NaN,Comedy (17),Drama (9),https://www.imdb.com/name/nm0622980?ref_=nmls_hd
3,Carmen Ruiz,6 premios y 1 nominación,Comedy (752),Romance (539),https://www.imdb.com/name/nm0749715?ref_=nmls_hd
4,Silvia Alonso,NaN,Drama (169),Romance (136),https://www.imdb.com/name/nm3435229?ref_=nmls_hd
...,...,...,...,...,...
335,Mónica Randall,8 premios y 3 nominaciones,Comedy (160),Drama (132),https://www.imdb.com/name/nm0709654?ref_=nmls_hd
336,Chus Lampreave,4 premios y 13 nominaciones,Talk-Show (171),Comedy (166),https://www.imdb.com/name/nm0483942?ref_=nmls_hd
337,Alicia Sánchez,1 nominación,Drama (104),Thriller (44),https://www.imdb.com/name/nm0760890?ref_=nmls_hd
338,Mariona Tena,NaN,Drama (563),Thriller (76),https://www.imdb.com/name/nm2826012?ref_=nmls_hd
339,Carla Díaz,NaN,Drama (537),Adventure (208),https://www.imdb.com/name/nm3718425?ref_=nmls_hd

In [17]:
tabla2.to_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\CSV\actricesgenero.csv', index=False)

In [18]:
tabla3=pd.read_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\CSV\actrices.csv')
tabla3

,Unnamed: 0,Position,Const,Created,Modified,Description,actrices,Known For,Birth Date
0,0,1,nm0699575,2019-01-22,2019-01-22,NaN,Alicia Príncipe,Historia sexual de O,NaN
1,1,2,nm0892826,2019-05-09,2019-05-09,NaN,Pilar Velázquez,Juego sucio en Panamá,1946-02-13
2,2,3,nm0622980,2019-05-09,2019-05-09,NaN,Nieves Navarro,La morte cammina con i tacchi alti,1938-11-10
3,3,4,nm0749715,2019-06-01,2019-06-01,NaN,Carmen Ruiz,Es por tu bien,1974-07-28
4,4,5,nm3435229,2019-06-01,2019-06-01,NaN,Silvia Alonso,Durante la tormenta,1989-12-28
...,...,...,...,...,...,...,...,...,...
335,335,336,nm0709654,2022-11-18,2022-11-18,NaN,Mónica Randall,Cristina Guzmán,1942-11-18
336,336,337,nm0483942,2022-11-20,2022-11-20,NaN,Chus Lampreave,"Mujeres al borde de un ataque de ""nervios""",1930-12-11
337,337,338,nm0760890,2022-11-20,2022-11-20,NaN,Alicia Sánchez,Barrio,1949-05-27
338,338,339,nm2826012,2022-11-20,2022-11-20,NaN,Mariona Tena,Hanna,1982-10-29
339,339,340,nm3718425,2022-11-20,2022-11-20,NaN,Carla Díaz,El Príncipe,1998-07-19

In [19]:
tabla4= tabla3.rename(columns= {'Name': 'actrices'})
tabla4.head()

,Unnamed: 0,Position,Const,Created,Modified,Description,actrices,Known For,Birth Date
0,0,1,nm0699575,2019-01-22,2019-01-22,NaN,Alicia Príncipe,Historia sexual de O,NaN
1,1,2,nm0892826,2019-05-09,2019-05-09,NaN,Pilar Velázquez,Juego sucio en Panamá,1946-02-13
2,2,3,nm0622980,2019-05-09,2019-05-09,NaN,Nieves Navarro,La morte cammina con i tacchi alti,1938-11-10
3,3,4,nm0749715,2019-06-01,2019-06-01,NaN,Carmen Ruiz,Es por tu bien,1974-07-28
4,4,5,nm3435229,2019-06-01,2019-06-01,NaN,Silvia Alonso,Durante la tormenta,1989-12-28

In [20]:
tabla4.to_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\CSV\actrices.csv', index=False)

In [21]:
tabla5=pd.read_csv(r'C:\Users\USER\Documents\Lucía\Ironhack\Bootcamp\Proyecto_final\CSV\actrices.csv')
tabla5

,Unnamed: 0,Position,Const,Created,Modified,Description,actrices,Known For,Birth Date
0,0,1,nm0699575,2019-01-22,2019-01-22,NaN,Alicia Príncipe,Historia sexual de O,NaN
1,1,2,nm0892826,2019-05-09,2019-05-09,NaN,Pilar Velázquez,Juego sucio en Panamá,1946-02-13
2,2,3,nm0622980,2019-05-09,2019-05-09,NaN,Nieves Navarro,La morte cammina con i tacchi alti,1938-11-10
3,3,4,nm0749715,2019-06-01,2019-06-01,NaN,Carmen Ruiz,Es por tu bien,1974-07-28
4,4,5,nm3435229,2019-06-01,2019-06-01,NaN,Silvia Alonso,Durante la tormenta,1989-12-28
...,...,...,...,...,...,...,...,...,...
335,335,336,nm0709654,2022-11-18,2022-11-18,NaN,Mónica Randall,Cristina Guzmán,1942-11-18
336,336,337,nm0483942,2022-11-20,2022-11-20,NaN,Chus Lampreave,"Mujeres al borde de un ataque de ""nervios""",1930-12-11
337,337,338,nm0760890,2022-11-20,2022-11-20,NaN,Alicia Sánchez,Barrio,1949-05-27
338,338,339,nm2826012,2022-11-20,2022-11-20,NaN,Mariona Tena,Hanna,1982-10-29
339,339,340,nm3718425,2022-11-20,2022-11-20,NaN,Carla Díaz,El Príncipe,1998-07-19